In [473]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.metrics import mean_squared_error, accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
import tensorflow as tf
import numpy as np

In [474]:
df_sessions = pd.read_json(path_or_buf='../../data/raw/sessions.jsonl', lines=True)
df_products = pd.read_json(path_or_buf='../../data/raw/products.jsonl', lines=True)
df_users = pd.read_json(path_or_buf='../../data/raw/users.jsonl', lines=True)

In [475]:
df_users.head()

   user_id              name      city                   street
0      102     Aurelia Malon    Poznań  pl. Brzoskwiniowa 11/53
1      103     Mateusz Kobel    Poznań        al. Wrocławska 10
2      104    Radosław Ratka  Szczecin           pl. Nowa 89/04
3      105  Anastazja Oszust  Warszawa     ul. Częstochowska 80
4      106      Sylwia Nurek  Warszawa          al. Wiosenna 72

In [476]:
df_products.head()

,product_id,product_name,category_path,price
0,1001,Telefon Siemens Gigaset DA310,Telefony i akcesoria;Telefony stacjonarne,58.97
1,1002,Kyocera FS-1135MFP,Komputery;Drukarki i skanery;Biurowe urządzeni...,2048.50
2,1003,Kyocera FS-3640MFP,Komputery;Drukarki i skanery;Biurowe urządzeni...,7639.00
3,1004,Fallout 3 (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,49.99
4,1005,Szalone Króliki Na żywo i w kolorze (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,49.99

In [477]:
categories_one_hot = df_products.category_path.str.get_dummies(';')
categories_one_hot.head()

,Akcesoria telefoniczne,Anteny RTV,Audio,Biurowe urządzenia wielofunkcyjne,Drukarki i skanery,Gry PlayStation3,Gry Xbox 360,Gry i konsole,Gry komputerowe,Gry na konsole,...,Słuchawki,Tablety,Tablety i akcesoria,Telefony i akcesoria,Telefony komórkowe,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [478]:
cities_one_hot = df_users.city.str.get_dummies()
cities_one_hot.head()

   Gdynia  Kraków  Poznań  Radom  Szczecin  Warszawa  Wrocław
0       0       0       1      0         0         0        0
1       0       0       1      0         0         0        0
2       0       0       0      0         1         0        0
3       0       0       0      0         0         1        0
4       0       0       0      0         0         1        0

In [479]:
df_products.drop(columns=['product_name', 'category_path'], inplace=True)
df_products = df_products.join(categories_one_hot)

In [480]:
df_users.drop(columns=['city'], inplace=True)
df_users = df_users.join(cities_one_hot)

In [481]:
df_products.head()

,product_id,price,Akcesoria telefoniczne,Anteny RTV,Audio,Biurowe urządzenia wielofunkcyjne,Drukarki i skanery,Gry PlayStation3,Gry Xbox 360,Gry i konsole,...,Słuchawki,Tablety,Tablety i akcesoria,Telefony i akcesoria,Telefony komórkowe,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe
0,1001,58.97,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1,1002,2048.50,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1003,7639.00,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1004,49.99,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1005,49.99,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [482]:
df_sessions.head()

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id
0,124,2021-07-28 15:47:21,102,1283,VIEW_PRODUCT,5,NaN
1,124,2021-07-28 15:47:40,102,1283,BUY_PRODUCT,5,20001.0
2,125,2021-09-12 16:43:16,102,1076,VIEW_PRODUCT,0,NaN
3,125,2021-09-12 16:46:24,102,1080,VIEW_PRODUCT,0,NaN
4,125,2021-09-12 16:48:08,102,1079,VIEW_PRODUCT,0,NaN

In [483]:
df_users['sex'] = ['Female' if name.split(' ')[0][-1] == 'a' else 'Male' for name in df_users['name']]
sex_one_hot = df_users.sex.str.get_dummies()
df_users.drop(columns=['sex'], inplace=True)
df_users = df_users.join(sex_one_hot)

In [484]:
df_users.head()

,user_id,name,street,Gdynia,Kraków,Poznań,Radom,Szczecin,Warszawa,Wrocław,Female,Male
0,102,Aurelia Malon,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0
1,103,Mateusz Kobel,al. Wrocławska 10,0,0,1,0,0,0,0,0,1
2,104,Radosław Ratka,pl. Nowa 89/04,0,0,0,0,1,0,0,0,1
3,105,Anastazja Oszust,ul. Częstochowska 80,0,0,0,0,0,1,0,1,0
4,106,Sylwia Nurek,al. Wiosenna 72,0,0,0,0,0,1,0,1,0

In [485]:
df = df_sessions.merge(df_products, left_on='product_id', right_on='product_id')
df = df.merge(df_users, left_on='user_id', right_on='user_id')
df.head()

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id,price,Akcesoria telefoniczne,Anteny RTV,...,street,Gdynia,Kraków,Poznań,Radom,Szczecin,Warszawa,Wrocław,Female,Male
0,124,2021-07-28 15:47:21,102,1283,VIEW_PRODUCT,5,NaN,99.99,0,0,...,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0
1,124,2021-07-28 15:47:40,102,1283,BUY_PRODUCT,5,20001.0,99.99,0,0,...,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0
2,139,2021-07-01 11:28:02,102,1283,VIEW_PRODUCT,0,NaN,99.99,0,0,...,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0
3,139,2021-07-01 11:31:18,102,1283,BUY_PRODUCT,0,20013.0,99.99,0,0,...,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0
4,144,2021-03-19 13:55:04,102,1283,VIEW_PRODUCT,0,NaN,99.99,0,0,...,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0

In [486]:
aggregation_functions = {
    'timestamp' : lambda t: [(t.max() - t.min()).seconds, t.min(), t.max()],
    'user_id' : 'first',
    'product_id' : 'unique',
    'event_type' : lambda e: 1 if len(e.unique()) > 1 else 0,
    'offered_discount' : 'first',
    'price' : lambda p: p.sum()
}

for name in categories_one_hot.columns:
    aggregation_functions[name] = lambda n: n.sum()

# for name in cities_one_hot.columns:
#     aggregation_functions[name] = 'first'

for name in sex_one_hot.columns:
    aggregation_functions[name] = 'first'

main_df = df.groupby(df['session_id']).aggregate(aggregation_functions)
main_df.rename(columns={'event_type' : 'purchased'}, inplace=True)

In [487]:
timestamp_dict = [{'session_length' : x[0], 'session_start' : x[1], 'session_end' : x[2]} for x in main_df['timestamp']]
timestamp_df = pd.DataFrame(timestamp_dict)

In [488]:
main_df = pd.concat([main_df, timestamp_df], axis=1, join="inner")
main_df.drop(columns=['timestamp'], inplace=True)
main_df.index.name = 'session_id'
main_df = main_df[['user_id', 'product_id', 'offered_discount', 'session_length', 'price', 'session_start', 'session_end', 'purchased'] + list(sex_one_hot.columns.values) + list(categories_one_hot.columns.values)]
main_df.head()

,user_id,product_id,offered_discount,session_length,price,session_start,session_end,purchased,Female,Male,...,Słuchawki,Tablety,Tablety i akcesoria,Telefony i akcesoria,Telefony komórkowe,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe
session_id,,,,,,,,,,,,,,,,,,,,,
124,102,[1283],5,725,199.98,2021-08-26 22:27:52,2021-08-26 22:39:57,1,1,0,...,0,0,0,0,0,0,2,2,0,0
125,102,"[1076, 1080, 1079, 1003, 1002, 1075, 1078, 1077]",0,1547,36664.54,2021-03-08 08:14:24,2021-03-08 08:40:11,1,1,0,...,0,0,0,0,0,0,0,0,0,0
126,102,"[1281, 1278]",15,347,222.60,2021-02-16 17:40:31,2021-02-16 17:46:18,1,1,0,...,0,0,0,0,0,0,0,0,0,0
127,102,"[1281, 1278]",0,457,208.50,2021-03-13 06:48:13,2021-03-13 06:55:50,1,1,0,...,0,0,0,0,0,0,0,0,0,0
128,102,"[1008, 1007, 1013, 1012, 1004, 1010]",0,1010,568.94,2021-04-18 21:02:01,2021-04-18 21:18:51,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [489]:
main_df['n_views'] = [len(x) for x in main_df['product_id'].values]

In [490]:
main_df.head()

,user_id,product_id,offered_discount,session_length,price,session_start,session_end,purchased,Female,Male,...,Tablety,Tablety i akcesoria,Telefony i akcesoria,Telefony komórkowe,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe,n_views
session_id,,,,,,,,,,,,,,,,,,,,,
124,102,[1283],5,725,199.98,2021-08-26 22:27:52,2021-08-26 22:39:57,1,1,0,...,0,0,0,0,0,2,2,0,0,1
125,102,"[1076, 1080, 1079, 1003, 1002, 1075, 1078, 1077]",0,1547,36664.54,2021-03-08 08:14:24,2021-03-08 08:40:11,1,1,0,...,0,0,0,0,0,0,0,0,0,8
126,102,"[1281, 1278]",15,347,222.60,2021-02-16 17:40:31,2021-02-16 17:46:18,1,1,0,...,0,0,0,0,0,0,0,0,0,2
127,102,"[1281, 1278]",0,457,208.50,2021-03-13 06:48:13,2021-03-13 06:55:50,1,1,0,...,0,0,0,0,0,0,0,0,0,2
128,102,"[1008, 1007, 1013, 1012, 1004, 1010]",0,1010,568.94,2021-04-18 21:02:01,2021-04-18 21:18:51,1,1,0,...,0,0,0,0,0,0,0,0,0,6

## Przygotowanie danych do modelu

In [491]:
main_df.reset_index(inplace=True)

In [492]:
main_df.drop(columns=['session_id', 'user_id', 'product_id'], inplace=True)

In [493]:
dates_encoded = pd.DataFrame({
    "month": main_df['session_start'].dt.month,
    "day": main_df['session_start'].dt.day,
    "hour": main_df['session_start'].dt.hour,
    "dayofweek": main_df['session_start'].dt.dayofweek,
})

In [494]:
main_df = main_df.join(dates_encoded)

In [495]:
main_df.drop(columns=['session_start', 'session_end'], inplace=True)

In [496]:
main_df.head()

,offered_discount,session_length,price,purchased,Female,Male,Akcesoria telefoniczne,Anteny RTV,Audio,Biurowe urządzenia wielofunkcyjne,...,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe,n_views,month,day,hour,dayofweek
0,5,725,199.98,1,1,0,0,0,0,0,...,0,2,2,0,0,1,8,26,22,3
1,0,1547,36664.54,1,1,0,0,0,0,9,...,0,0,0,0,0,8,3,8,8,0
2,15,347,222.60,1,1,0,0,0,0,0,...,0,0,0,0,0,2,2,16,17,1
3,0,457,208.50,1,1,0,0,0,0,0,...,0,0,0,0,0,2,3,13,6,5
4,0,1010,568.94,1,1,0,0,0,0,0,...,0,0,0,0,0,6,4,18,21,6

# Wydzielenie zbioru treningowego, walidacyjnego i testowego

In [497]:
y = main_df['purchased'].values
X = main_df.drop(columns=['purchased'])

In [498]:
X

,offered_discount,session_length,price,Female,Male,Akcesoria telefoniczne,Anteny RTV,Audio,Biurowe urządzenia wielofunkcyjne,Drukarki i skanery,...,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe,n_views,month,day,hour,dayofweek
0,5,725,199.98,1,0,0,0,0,0,0,...,0,2,2,0,0,1,8,26,22,3
1,0,1547,36664.54,1,0,0,0,0,9,9,...,0,0,0,0,0,8,3,8,8,0
2,15,347,222.60,1,0,0,0,0,0,0,...,0,0,0,0,0,2,2,16,17,1
3,0,457,208.50,1,0,0,0,0,0,0,...,0,0,0,0,0,2,3,13,6,5
4,0,1010,568.94,1,0,0,0,0,0,0,...,0,0,0,0,0,6,4,18,21,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9398,5,0,2677.90,0,1,4,0,0,0,0,...,0,0,0,0,4,3,1,27,3,2
9399,0,116,31328.54,0,1,0,0,0,8,8,...,0,0,0,0,0,7,7,6,16,1
9400,5,1617,1121.66,0,1,0,10,0,0,0,...,0,10,10,0,0,9,3,7,7,6
9401,0,0,17031.50,0,1,0,0,0,4,4,...,0,0,0,0,0,4,10,12,0,1
9402,20,0,1058.28,0,1,5,0,0,0,0,...,0,0,0,5,0,4,8,19,21,3

In [499]:
y

array([1, 1, 1, ..., 1, 0, 1])

In [500]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [501]:
X_test.shape

(2821, 38)

In [502]:
X_train.shape

(6582, 38)

## Szukanie modelu

#### Regresja liniowa

In [503]:
linear_regression = LinearRegression()
linear_regression.fit(X_train, y_train)

LinearRegression()

In [504]:
predictions = linear_regression.predict(X_test) > 0.5
accuracy_score(y_test, predictions)

1.0

## RandomForest

In [505]:
random_forest = RandomForestClassifier()
random_forest.fit(X_train, y_train)

RandomForestClassifier()

In [506]:
rand_forest_scores = cross_val_score(random_forest, X_train, y_train, cv=10, scoring="accuracy")
rand_forest_scores.mean()

0.9688558237358805

## KNN

In [507]:
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [508]:
knn_forest_scores = cross_val_score(knn, X_train, y_train, cv=10, scoring="accuracy")
knn_forest_scores.mean()

0.7260736309504592

## SVM

In [509]:
svm = SVC(kernel="rbf")

In [510]:
svm_scores = cross_val_score(svm, X_train, y_train, cv=10, scoring="accuracy")
svm_scores.mean()

0.5850803234153249

## Gradient Boosting

In [511]:
gradient_boosting = GradientBoostingClassifier()

In [512]:
gradient_boosting_scores = cross_val_score(gradient_boosting, X_train, y_train, cv=3, scoring="accuracy")
gradient_boosting_scores.mean()

0.9152233363719234

## Sieć neuronowa

In [513]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, activation='relu', input_dim=len(main_df.columns)-1),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1, activation="sigmoid")

])

In [514]:
model.summary()

Model: "sequential_16"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_67 (Dense)            (None, 128)               4992

 dense_68 (Dense)            (None, 64)                8256

 dense_69 (Dense)            (None, 32)                2080

 dense_70 (Dense)            (None, 1)                 33

=================================================================
Total params: 15,361
Trainable params: 15,361
Non-trainable params: 0
_________________________________________________________________

In [515]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=['accuracy'])

In [516]:
model.fit(np.array(X_train,dtype=np.float64), np.array(y_train,dtype=np.float64), epochs=200)

Epoch 1/200
206/206 [==============================] - 0s 578us/step - loss: 10.4813 - accuracy: 0.5258
Epoch 2/200
206/206 [==============================] - 0s 660us/step - loss: 5.3582 - accuracy: 0.5460
Epoch 3/200
206/206 [==============================] - 0s 619us/step - loss: 4.1893 - accuracy: 0.5684
Epoch 4/200
206/206 [==============================] - 0s 641us/step - loss: 2.7027 - accuracy: 0.5869
Epoch 5/200
206/206 [==============================] - 0s 634us/step - loss: 2.8902 - accuracy: 0.5805
Epoch 6/200
206/206 [==============================] - 0s 619us/step - loss: 2.3743 - accuracy: 0.5954
Epoch 7/200
206/206 [==============================] - 0s 583us/step - loss: 1.9626 - accuracy: 0.6026
Epoch 8/200
206/206 [==============================] - 0s 648us/step - loss: 1.0731 - accuracy: 0.6275
Epoch 9/200
206/206 [==============================] - 0s 603us/step - loss: 1.0177 - accuracy: 0.6235
Epoch 10/200
206/206 [==============================] - 0s 590us/step - loss: 1.0939 - accuracy: 0.6153
Epoch 11/200
206/206 [==============================] - 0s 647us/step - loss: 1.1566 - accuracy: 0.6196
Epoch 12/200
206/206 [==============================] - 0s 603us/step - loss: 0.7154 - accuracy: 0.6474
Epoch 13/200
206/206 [==============================] - 0s 621us/step - loss: 0.6648 - accuracy: 0.6609
Epoch 14/200
206/206 [==============================] - 0s 605us/step - loss: 0.6528 - accuracy: 0.6597
Epoch 15/200
206/206 [==============================] - 0s 633us/step - loss: 0.7513 - accuracy: 0.6414
Epoch 16/200
206/206 [==============================] - 0s 613us/step - loss: 0.6704 - accuracy: 0.6481
Epoch 17/200
206/206 [==============================] - 0s 598us/step - loss: 0.8121 - accuracy: 0.6398
Epoch 18/200
206/206 [==============================] - 0s 623us/step - loss: 0.7063 - accuracy: 0.6449
Epoch 19/200
206/206 [==============================] - 0s 585us/step - loss: 0.5782 - accuracy: 0.6784
Epoch 20/200
206/206 [==============================] - 0s 629us/step - loss: 0.5737 - accuracy: 0.6847
Epoch 21/200
206/206 [==============================] - 0s 619us/step - loss: 0.5550 - accuracy: 0.6999
Epoch 22/200
206/206 [==============================] - 0s 635us/step - loss: 0.5407 - accuracy: 0.7094
Epoch 23/200
206/206 [==============================] - 0s 583us/step - loss: 0.5273 - accuracy: 0.7262
Epoch 24/200
206/206 [==============================] - 0s 647us/step - loss: 0.5246 - accuracy: 0.7256
Epoch 25/200
206/206 [==============================] - 0s 613us/step - loss: 0.4859 - accuracy: 0.7397
Epoch 26/200
206/206 [==============================] - 0s 626us/step - loss: 0.4815 - accuracy: 0.7438
Epoch 27/200
206/206 [==============================] - 0s 594us/step - loss: 0.4393 - accuracy: 0.7718
Epoch 28/200
206/206 [==============================] - 0s 592us/step - loss: 0.4403 - accuracy: 0.7713
Epoch 29/200
206/206 [==============================] - 0s 608us/step - loss: 0.3708 - accuracy: 0.8104
Epoch 30/200
206/206 [==============================] - 0s 599us/step - loss: 0.4206 - accuracy: 0.7862
Epoch 31/200
206/206 [==============================] - 0s 618us/step - loss: 0.3554 - accuracy: 0.8122
Epoch 32/200
206/206 [==============================] - 0s 624us/step - loss: 0.5030 - accuracy: 0.7514
Epoch 33/200
206/206 [==============================] - 0s 661us/step - loss: 0.4501 - accuracy: 0.7627
Epoch 34/200
206/206 [==============================] - 0s 612us/step - loss: 0.4340 - accuracy: 0.7686
Epoch 35/200
206/206 [==============================] - 0s 620us/step - loss: 0.3935 - accuracy: 0.7867
Epoch 36/200
206/206 [==============================] - 0s 603us/step - loss: 0.3855 - accuracy: 0.8052
Epoch 37/200
206/206 [==============================] - 0s 553us/step - loss: 0.3007 - accuracy: 0.8383
Epoch 38/200
206/206 [==============================] - 0s 569us/step - loss: 0.3157 - accuracy: 0.8292
Epoch 39/200
206/206 [==============================] - 0s 615us/step - loss: 0.2970 - accuracy: 0.8446
Epoch 40/200
206/206 [==============================] - 0s 588us/step - loss: 0.3024 - accuracy: 0.8420
Epoch 41/200
206/206 [==============================] - 0s 607us/step - loss: 0.4042 - accuracy: 0.8013
Epoch 42/200
206/206 [==============================] - 0s 604us/step - loss: 0.2984 - accuracy: 0.8499
Epoch 43/200
206/206 [==============================] - 0s 616us/step - loss: 0.2741 - accuracy: 0.8570
Epoch 44/200
206/206 [==============================] - 0s 604us/step - loss: 0.3316 - accuracy: 0.8434
Epoch 45/200
206/206 [==============================] - 0s 634us/step - loss: 0.2791 - accuracy: 0.8497
Epoch 46/200
206/206 [==============================] - 0s 595us/step - loss: 0.3274 - accuracy: 0.8294
Epoch 47/200
206/206 [==============================] - 0s 618us/step - loss: 0.4189 - accuracy: 0.7900
Epoch 48/200
206/206 [==============================] - 0s 588us/step - loss: 0.2886 - accuracy: 0.8374
Epoch 49/200
206/206 [==============================] - 0s 622us/step - loss: 0.3182 - accuracy: 0.8385
Epoch 50/200
206/206 [==============================] - 0s 565us/step - loss: 0.2593 - accuracy: 0.8681
Epoch 51/200
206/206 [==============================] - 0s 558us/step - loss: 0.2817 - accuracy: 0.8541
Epoch 52/200
206/206 [==============================] - 0s 586us/step - loss: 0.2509 - accuracy: 0.8681
Epoch 53/200
206/206 [==============================] - 0s 638us/step - loss: 0.2321 - accuracy: 0.8745
Epoch 54/200
206/206 [==============================] - 0s 595us/step - loss: 0.2005 - accuracy: 0.8915
Epoch 55/200
206/206 [==============================] - 0s 633us/step - loss: 0.2590 - accuracy: 0.8619
Epoch 56/200
206/206 [==============================] - 0s 629us/step - loss: 0.2283 - accuracy: 0.8733
Epoch 57/200
206/206 [==============================] - 0s 627us/step - loss: 0.2855 - accuracy: 0.8494
Epoch 58/200
206/206 [==============================] - 0s 603us/step - loss: 0.2455 - accuracy: 0.8716
Epoch 59/200
206/206 [==============================] - 0s 611us/step - loss: 0.2605 - accuracy: 0.8525
Epoch 60/200
206/206 [==============================] - 0s 618us/step - loss: 0.2170 - accuracy: 0.8804
Epoch 61/200
206/206 [==============================] - 0s 608us/step - loss: 0.2378 - accuracy: 0.8744
Epoch 62/200
206/206 [==============================] - 0s 624us/step - loss: 0.2536 - accuracy: 0.8712
Epoch 63/200
206/206 [==============================] - 0s 608us/step - loss: 0.2391 - accuracy: 0.8757
Epoch 64/200
206/206 [==============================] - 0s 604us/step - loss: 0.6827 - accuracy: 0.7565
Epoch 65/200
206/206 [==============================] - 0s 606us/step - loss: 0.3562 - accuracy: 0.8075
Epoch 66/200
206/206 [==============================] - 0s 645us/step - loss: 0.4147 - accuracy: 0.7861
Epoch 67/200
206/206 [==============================] - 0s 624us/step - loss: 0.2855 - accuracy: 0.8443
Epoch 68/200
206/206 [==============================] - 0s 649us/step - loss: 0.2567 - accuracy: 0.8551
Epoch 69/200
206/206 [==============================] - 0s 619us/step - loss: 0.2568 - accuracy: 0.8608
Epoch 70/200
206/206 [==============================] - 0s 580us/step - loss: 0.2264 - accuracy: 0.8747
Epoch 71/200
206/206 [==============================] - 0s 605us/step - loss: 0.2319 - accuracy: 0.8768
Epoch 72/200
206/206 [==============================] - 0s 601us/step - loss: 0.2303 - accuracy: 0.8750
Epoch 73/200
206/206 [==============================] - 0s 599us/step - loss: 0.2228 - accuracy: 0.8778
Epoch 74/200
206/206 [==============================] - 0s 619us/step - loss: 0.2768 - accuracy: 0.8652
Epoch 75/200
206/206 [==============================] - 0s 625us/step - loss: 0.2596 - accuracy: 0.8734
Epoch 76/200
206/206 [==============================] - 0s 603us/step - loss: 0.3349 - accuracy: 0.8102
Epoch 77/200
206/206 [==============================] - 0s 648us/step - loss: 0.2354 - accuracy: 0.8783
Epoch 78/200
206/206 [==============================] - 0s 607us/step - loss: 0.2159 - accuracy: 0.8845
Epoch 79/200
206/206 [==============================] - 0s 595us/step - loss: 0.2267 - accuracy: 0.8891
Epoch 80/200
206/206 [==============================] - 0s 658us/step - loss: 0.2191 - accuracy: 0.8830
Epoch 81/200
206/206 [==============================] - 0s 596us/step - loss: 0.2459 - accuracy: 0.8827
Epoch 82/200
206/206 [==============================] - 0s 621us/step - loss: 0.2254 - accuracy: 0.8830
Epoch 83/200
206/206 [==============================] - 0s 584us/step - loss: 0.1904 - accuracy: 0.8949
Epoch 84/200
206/206 [==============================] - 0s 619us/step - loss: 0.2259 - accuracy: 0.8886
Epoch 85/200
206/206 [==============================] - 0s 632us/step - loss: 0.2104 - accuracy: 0.8870
Epoch 86/200
206/206 [==============================] - 0s 610us/step - loss: 0.2022 - accuracy: 0.8935
Epoch 87/200
206/206 [==============================] - 0s 630us/step - loss: 0.1920 - accuracy: 0.8996
Epoch 88/200
206/206 [==============================] - 0s 615us/step - loss: 0.2424 - accuracy: 0.8832
Epoch 89/200
206/206 [==============================] - 0s 643us/step - loss: 0.2034 - accuracy: 0.8905
Epoch 90/200
206/206 [==============================] - 0s 629us/step - loss: 0.1890 - accuracy: 0.8987
Epoch 91/200
206/206 [==============================] - 0s 607us/step - loss: 0.2234 - accuracy: 0.8874
Epoch 92/200
206/206 [==============================] - 0s 575us/step - loss: 0.1941 - accuracy: 0.8985
Epoch 93/200
206/206 [==============================] - 0s 622us/step - loss: 0.1680 - accuracy: 0.9073
Epoch 94/200
206/206 [==============================] - 0s 625us/step - loss: 0.1841 - accuracy: 0.9044
Epoch 95/200
206/206 [==============================] - 0s 597us/step - loss: 0.1962 - accuracy: 0.8943
Epoch 96/200
206/206 [==============================] - 0s 602us/step - loss: 0.2082 - accuracy: 0.8930
Epoch 97/200
206/206 [==============================] - 0s 606us/step - loss: 0.3033 - accuracy: 0.8602
Epoch 98/200
206/206 [==============================] - 0s 622us/step - loss: 0.1835 - accuracy: 0.9055
Epoch 99/200
206/206 [==============================] - 0s 604us/step - loss: 0.1834 - accuracy: 0.9050
Epoch 100/200
206/206 [==============================] - 0s 593us/step - loss: 0.1846 - accuracy: 0.9037
Epoch 101/200
206/206 [==============================] - 0s 613us/step - loss: 0.2206 - accuracy: 0.8946
Epoch 102/200
206/206 [==============================] - 0s 602us/step - loss: 0.2256 - accuracy: 0.8885
Epoch 103/200
206/206 [==============================] - 0s 666us/step - loss: 0.1758 - accuracy: 0.9038
Epoch 104/200
206/206 [==============================] - 0s 633us/step - loss: 0.1837 - accuracy: 0.8981
Epoch 105/200
206/206 [==============================] - 0s 591us/step - loss: 0.1755 - accuracy: 0.9038
Epoch 106/200
206/206 [==============================] - 0s 585us/step - loss: 0.1891 - accuracy: 0.9006
Epoch 107/200
206/206 [==============================] - 0s 620us/step - loss: 0.1436 - accuracy: 0.9189
Epoch 108/200
206/206 [==============================] - 0s 586us/step - loss: 0.1941 - accuracy: 0.9000
Epoch 109/200
206/206 [==============================] - 0s 640us/step - loss: 0.1804 - accuracy: 0.9026
Epoch 110/200
206/206 [==============================] - 0s 589us/step - loss: 0.1755 - accuracy: 0.9075
Epoch 111/200
206/206 [==============================] - 0s 596us/step - loss: 0.1855 - accuracy: 0.8996
Epoch 112/200
206/206 [==============================] - 0s 603us/step - loss: 0.1995 - accuracy: 0.8952
Epoch 113/200
206/206 [==============================] - 0s 641us/step - loss: 0.1638 - accuracy: 0.9078
Epoch 114/200
206/206 [==============================] - 0s 641us/step - loss: 0.2974 - accuracy: 0.8739
Epoch 115/200
206/206 [==============================] - 0s 576us/step - loss: 0.2102 - accuracy: 0.8874
Epoch 116/200
206/206 [==============================] - 0s 604us/step - loss: 0.1945 - accuracy: 0.9012
Epoch 117/200
206/206 [==============================] - 0s 631us/step - loss: 0.1712 - accuracy: 0.9041
Epoch 118/200
206/206 [==============================] - 0s 633us/step - loss: 0.1925 - accuracy: 0.8976
Epoch 119/200
206/206 [==============================] - 0s 639us/step - loss: 0.1666 - accuracy: 0.9090
Epoch 120/200
206/206 [==============================] - 0s 631us/step - loss: 0.1655 - accuracy: 0.9119
Epoch 121/200
206/206 [==============================] - 0s 655us/step - loss: 0.1417 - accuracy: 0.9211
Epoch 122/200
206/206 [==============================] - 0s 634us/step - loss: 0.1448 - accuracy: 0.9210
Epoch 123/200
206/206 [==============================] - 0s 575us/step - loss: 0.1505 - accuracy: 0.9158
Epoch 124/200
206/206 [==============================] - 0s 613us/step - loss: 0.1652 - accuracy: 0.9143
Epoch 125/200
206/206 [==============================] - 0s 642us/step - loss: 0.1553 - accuracy: 0.9132
Epoch 126/200
206/206 [==============================] - 0s 618us/step - loss: 0.1913 - accuracy: 0.9082
Epoch 127/200
206/206 [==============================] - 0s 623us/step - loss: 0.2555 - accuracy: 0.8862
Epoch 128/200
206/206 [==============================] - 0s 634us/step - loss: 0.1785 - accuracy: 0.9094
Epoch 129/200
206/206 [==============================] - 0s 611us/step - loss: 0.1767 - accuracy: 0.9091
Epoch 130/200
206/206 [==============================] - 0s 614us/step - loss: 0.1685 - accuracy: 0.9148
Epoch 131/200
206/206 [==============================] - 0s 601us/step - loss: 0.1703 - accuracy: 0.9119
Epoch 132/200
206/206 [==============================] - 0s 602us/step - loss: 0.1936 - accuracy: 0.9035
Epoch 133/200
206/206 [==============================] - 0s 636us/step - loss: 0.1849 - accuracy: 0.8987
Epoch 134/200
206/206 [==============================] - 0s 579us/step - loss: 0.1427 - accuracy: 0.9243
Epoch 135/200
206/206 [==============================] - 0s 604us/step - loss: 0.1566 - accuracy: 0.9198
Epoch 136/200
206/206 [==============================] - 0s 634us/step - loss: 0.1455 - accuracy: 0.9307
Epoch 137/200
206/206 [==============================] - 0s 597us/step - loss: 0.1543 - accuracy: 0.9139
Epoch 138/200
206/206 [==============================] - 0s 657us/step - loss: 0.1500 - accuracy: 0.9218
Epoch 139/200
206/206 [==============================] - 0s 651us/step - loss: 0.1529 - accuracy: 0.9225
Epoch 140/200
206/206 [==============================] - 0s 572us/step - loss: 0.1505 - accuracy: 0.9202
Epoch 141/200
206/206 [==============================] - 0s 592us/step - loss: 0.1269 - accuracy: 0.9325
Epoch 142/200
206/206 [==============================] - 0s 609us/step - loss: 0.1290 - accuracy: 0.9300
Epoch 143/200
206/206 [==============================] - 0s 620us/step - loss: 0.1359 - accuracy: 0.9280
Epoch 144/200
206/206 [==============================] - 0s 636us/step - loss: 0.1720 - accuracy: 0.9070
Epoch 145/200
206/206 [==============================] - 0s 635us/step - loss: 0.2341 - accuracy: 0.8964
Epoch 146/200
206/206 [==============================] - 0s 607us/step - loss: 0.1662 - accuracy: 0.9174
Epoch 147/200
206/206 [==============================] - 0s 615us/step - loss: 0.1534 - accuracy: 0.9163
Epoch 148/200
206/206 [==============================] - 0s 595us/step - loss: 0.1384 - accuracy: 0.9301
Epoch 149/200
206/206 [==============================] - 0s 627us/step - loss: 0.1410 - accuracy: 0.9254
Epoch 150/200
206/206 [==============================] - 0s 624us/step - loss: 0.1561 - accuracy: 0.9136
Epoch 151/200
206/206 [==============================] - 0s 628us/step - loss: 0.1680 - accuracy: 0.9201
Epoch 152/200
206/206 [==============================] - 0s 620us/step - loss: 0.1698 - accuracy: 0.9152
Epoch 153/200
206/206 [==============================] - 0s 615us/step - loss: 0.1264 - accuracy: 0.9292
Epoch 154/200
206/206 [==============================] - 0s 654us/step - loss: 0.1417 - accuracy: 0.9254
Epoch 155/200
206/206 [==============================] - 0s 585us/step - loss: 0.1498 - accuracy: 0.9207
Epoch 156/200
206/206 [==============================] - 0s 614us/step - loss: 0.1361 - accuracy: 0.9274
Epoch 157/200
206/206 [==============================] - 0s 587us/step - loss: 0.1178 - accuracy: 0.9353
Epoch 158/200
206/206 [==============================] - 0s 598us/step - loss: 0.1189 - accuracy: 0.9336
Epoch 159/200
206/206 [==============================] - 0s 613us/step - loss: 0.1255 - accuracy: 0.9325
Epoch 160/200
206/206 [==============================] - 0s 604us/step - loss: 0.1416 - accuracy: 0.9192
Epoch 161/200
206/206 [==============================] - 0s 580us/step - loss: 0.1792 - accuracy: 0.9134
Epoch 162/200
206/206 [==============================] - 0s 593us/step - loss: 0.1517 - accuracy: 0.9184
Epoch 163/200
206/206 [==============================] - 0s 608us/step - loss: 0.1300 - accuracy: 0.9297
Epoch 164/200
206/206 [==============================] - 0s 611us/step - loss: 0.1777 - accuracy: 0.9169
Epoch 165/200
206/206 [==============================] - 0s 574us/step - loss: 0.1887 - accuracy: 0.9104
Epoch 166/200
206/206 [==============================] - 0s 581us/step - loss: 0.1536 - accuracy: 0.9187
Epoch 167/200
206/206 [==============================] - 0s 640us/step - loss: 0.1533 - accuracy: 0.9219
Epoch 168/200
206/206 [==============================] - 0s 555us/step - loss: 0.1350 - accuracy: 0.9268
Epoch 169/200
206/206 [==============================] - 0s 634us/step - loss: 0.1381 - accuracy: 0.9260
Epoch 170/200
206/206 [==============================] - 0s 572us/step - loss: 0.1164 - accuracy: 0.9386
Epoch 171/200
206/206 [==============================] - 0s 632us/step - loss: 0.1199 - accuracy: 0.9307
Epoch 172/200
206/206 [==============================] - 0s 632us/step - loss: 0.1352 - accuracy: 0.9269
Epoch 173/200
206/206 [==============================] - 0s 593us/step - loss: 0.1414 - accuracy: 0.9281
Epoch 174/200
206/206 [==============================] - 0s 583us/step - loss: 0.1314 - accuracy: 0.9304
Epoch 175/200
206/206 [==============================] - 0s 591us/step - loss: 0.1086 - accuracy: 0.9421
Epoch 176/200
206/206 [==============================] - 0s 576us/step - loss: 0.2107 - accuracy: 0.9047
Epoch 177/200
206/206 [==============================] - 0s 592us/step - loss: 0.1341 - accuracy: 0.9335
Epoch 178/200
206/206 [==============================] - 0s 678us/step - loss: 0.1329 - accuracy: 0.9312
Epoch 179/200
206/206 [==============================] - 0s 601us/step - loss: 0.1045 - accuracy: 0.9417
Epoch 180/200
206/206 [==============================] - 0s 612us/step - loss: 0.1277 - accuracy: 0.9268
Epoch 181/200
206/206 [==============================] - 0s 631us/step - loss: 0.1179 - accuracy: 0.9353
Epoch 182/200
206/206 [==============================] - 0s 606us/step - loss: 0.1197 - accuracy: 0.9301
Epoch 183/200
206/206 [==============================] - 0s 623us/step - loss: 0.1103 - accuracy: 0.9394
Epoch 184/200
206/206 [==============================] - 0s 619us/step - loss: 0.1365 - accuracy: 0.9348
Epoch 185/200
206/206 [==============================] - 0s 592us/step - loss: 0.1187 - accuracy: 0.9368
Epoch 186/200
206/206 [==============================] - 0s 656us/step - loss: 0.1395 - accuracy: 0.9287
Epoch 187/200
206/206 [==============================] - 0s 571us/step - loss: 0.1481 - accuracy: 0.9297
Epoch 188/200
206/206 [==============================] - 0s 622us/step - loss: 0.1115 - accuracy: 0.9423
Epoch 189/200
206/206 [==============================] - 0s 633us/step - loss: 0.1140 - accuracy: 0.9427
Epoch 190/200
206/206 [==============================] - 0s 602us/step - loss: 0.1257 - accuracy: 0.9353
Epoch 191/200
206/206 [==============================] - 0s 627us/step - loss: 0.1143 - accuracy: 0.9435
Epoch 192/200

In [517]:
predictions = model.predict(np.array(X_test,dtype=np.float64)) > 0.5

In [518]:
accuracy_score(y_test, predictions)

0.9113789436370081