In [76]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
import tensorflow as tf
import numpy as np

In [77]:
df_sessions = pd.read_json(path_or_buf='../../data/raw/sessions.jsonl', lines=True)
df_products = pd.read_json(path_or_buf='../../data/raw/products.jsonl', lines=True)
df_users = pd.read_json(path_or_buf='../../data/raw/users.jsonl', lines=True)

In [78]:
df_users.head()

   user_id              name      city                   street
0      102     Aurelia Malon    Poznań  pl. Brzoskwiniowa 11/53
1      103     Mateusz Kobel    Poznań        al. Wrocławska 10
2      104    Radosław Ratka  Szczecin           pl. Nowa 89/04
3      105  Anastazja Oszust  Warszawa     ul. Częstochowska 80
4      106      Sylwia Nurek  Warszawa          al. Wiosenna 72

In [79]:
df_products.head()

,product_id,product_name,category_path,price
0,1001,Telefon Siemens Gigaset DA310,Telefony i akcesoria;Telefony stacjonarne,58.97
1,1002,Kyocera FS-1135MFP,Komputery;Drukarki i skanery;Biurowe urządzeni...,2048.50
2,1003,Kyocera FS-3640MFP,Komputery;Drukarki i skanery;Biurowe urządzeni...,7639.00
3,1004,Fallout 3 (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,49.99
4,1005,Szalone Króliki Na żywo i w kolorze (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,49.99

In [80]:
categories_one_hot = df_products.category_path.str.get_dummies(';')
categories_one_hot.head()

,Akcesoria telefoniczne,Anteny RTV,Audio,Biurowe urządzenia wielofunkcyjne,Drukarki i skanery,Gry PlayStation3,Gry Xbox 360,Gry i konsole,Gry komputerowe,Gry na konsole,...,Słuchawki,Tablety,Tablety i akcesoria,Telefony i akcesoria,Telefony komórkowe,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [81]:
cities_one_hot = df_users.city.str.get_dummies()
cities_one_hot.head()

   Gdynia  Kraków  Poznań  Radom  Szczecin  Warszawa  Wrocław
0       0       0       1      0         0         0        0
1       0       0       1      0         0         0        0
2       0       0       0      0         1         0        0
3       0       0       0      0         0         1        0
4       0       0       0      0         0         1        0

In [82]:
df_products.drop(columns=['product_name', 'category_path'], inplace=True)
df_products = df_products.join(categories_one_hot)

In [83]:
df_users.drop(columns=['city'], inplace=True)
df_users = df_users.join(cities_one_hot)

In [84]:
df_products.head()

,product_id,price,Akcesoria telefoniczne,Anteny RTV,Audio,Biurowe urządzenia wielofunkcyjne,Drukarki i skanery,Gry PlayStation3,Gry Xbox 360,Gry i konsole,...,Słuchawki,Tablety,Tablety i akcesoria,Telefony i akcesoria,Telefony komórkowe,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe
0,1001,58.97,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1,1002,2048.50,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1003,7639.00,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1004,49.99,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1005,49.99,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [85]:
df_sessions.head()

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id
0,124,2021-07-28 15:47:21,102,1283,VIEW_PRODUCT,5,NaN
1,124,2021-07-28 15:47:40,102,1283,BUY_PRODUCT,5,20001.0
2,125,2021-09-12 16:43:16,102,1076,VIEW_PRODUCT,0,NaN
3,125,2021-09-12 16:46:24,102,1080,VIEW_PRODUCT,0,NaN
4,125,2021-09-12 16:48:08,102,1079,VIEW_PRODUCT,0,NaN

In [86]:
df_users['sex'] = ['Female' if name.split(' ')[0][-1] == 'a' else 'Male' for name in df_users['name']]
sex_one_hot = df_users.sex.str.get_dummies()
df_users.drop(columns=['sex'], inplace=True)
df_users = df_users.join(sex_one_hot)

In [87]:
df_users.head()

,user_id,name,street,Gdynia,Kraków,Poznań,Radom,Szczecin,Warszawa,Wrocław,Female,Male
0,102,Aurelia Malon,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0
1,103,Mateusz Kobel,al. Wrocławska 10,0,0,1,0,0,0,0,0,1
2,104,Radosław Ratka,pl. Nowa 89/04,0,0,0,0,1,0,0,0,1
3,105,Anastazja Oszust,ul. Częstochowska 80,0,0,0,0,0,1,0,1,0
4,106,Sylwia Nurek,al. Wiosenna 72,0,0,0,0,0,1,0,1,0

In [88]:
df = df_sessions.merge(df_products, left_on='product_id', right_on='product_id')
df = df.merge(df_users, left_on='user_id', right_on='user_id')
df.head()

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id,price,Akcesoria telefoniczne,Anteny RTV,...,street,Gdynia,Kraków,Poznań,Radom,Szczecin,Warszawa,Wrocław,Female,Male
0,124,2021-07-28 15:47:21,102,1283,VIEW_PRODUCT,5,NaN,99.99,0,0,...,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0
1,124,2021-07-28 15:47:40,102,1283,BUY_PRODUCT,5,20001.0,99.99,0,0,...,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0
2,139,2021-07-01 11:28:02,102,1283,VIEW_PRODUCT,0,NaN,99.99,0,0,...,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0
3,139,2021-07-01 11:31:18,102,1283,BUY_PRODUCT,0,20013.0,99.99,0,0,...,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0
4,144,2021-03-19 13:55:04,102,1283,VIEW_PRODUCT,0,NaN,99.99,0,0,...,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0

In [89]:
aggregation_functions = {
    'timestamp' : lambda t: [(t.max() - t.min()).seconds, t.min(), t.max()],
    'user_id' : 'first',
    'product_id' : 'unique',
    'event_type' : lambda e: 1 if len(e.unique()) > 1 else 0,
    'offered_discount' : 'first',
    'price' : lambda p: p.sum()
}

for name in categories_one_hot.columns:
    aggregation_functions[name] = lambda n: n.sum()

# for name in cities_one_hot.columns:
#     aggregation_functions[name] = 'first'

for name in sex_one_hot.columns:
    aggregation_functions[name] = 'first'

main_df = df.groupby(df['session_id']).aggregate(aggregation_functions)
main_df.rename(columns={'event_type' : 'purchased'}, inplace=True)

In [90]:
timestamp_dict = [{'session_length' : x[0], 'session_start' : x[1], 'session_end' : x[2]} for x in main_df['timestamp']]
timestamp_df = pd.DataFrame(timestamp_dict)

In [91]:
main_df.reset_index(inplace=True)
main_df = pd.concat([main_df, timestamp_df], axis=1, join="inner")
main_df.drop(columns=['timestamp'], inplace=True)
main_df.index.name = 'session_id'
main_df = main_df[['user_id', 'product_id', 'offered_discount', 'session_length', 'price', 'session_start', 'session_end', 'purchased'] + list(sex_one_hot.columns.values) + list(categories_one_hot.columns.values)]
main_df.head()

,user_id,product_id,offered_discount,session_length,price,session_start,session_end,purchased,Female,Male,...,Słuchawki,Tablety,Tablety i akcesoria,Telefony i akcesoria,Telefony komórkowe,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe
session_id,,,,,,,,,,,,,,,,,,,,,
0,102,[1283],5,19,199.98,2021-07-28 15:47:21,2021-07-28 15:47:40,1,1,0,...,0,0,0,0,0,0,2,2,0,0
1,102,"[1076, 1080, 1079, 1003, 1002, 1075, 1078, 1077]",0,1436,36664.54,2021-09-12 16:43:16,2021-09-12 17:07:12,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,102,"[1281, 1278]",15,117,222.60,2021-04-09 22:31:08,2021-04-09 22:33:05,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,102,"[1281, 1278]",0,519,208.50,2021-08-15 16:46:06,2021-08-15 16:54:45,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,102,"[1008, 1007, 1013, 1012, 1004, 1010]",0,847,568.94,2021-01-05 00:05:38,2021-01-05 00:19:45,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
main_df['n_views'] = [len(x) for x in main_df['product_id'].values]

In [93]:
main_df.head()

,user_id,product_id,offered_discount,session_length,price,session_start,session_end,purchased,Female,Male,...,Tablety,Tablety i akcesoria,Telefony i akcesoria,Telefony komórkowe,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe,n_views
session_id,,,,,,,,,,,,,,,,,,,,,
0,102,[1283],5,19,199.98,2021-07-28 15:47:21,2021-07-28 15:47:40,1,1,0,...,0,0,0,0,0,2,2,0,0,1
1,102,"[1076, 1080, 1079, 1003, 1002, 1075, 1078, 1077]",0,1436,36664.54,2021-09-12 16:43:16,2021-09-12 17:07:12,1,1,0,...,0,0,0,0,0,0,0,0,0,8
2,102,"[1281, 1278]",15,117,222.60,2021-04-09 22:31:08,2021-04-09 22:33:05,1,1,0,...,0,0,0,0,0,0,0,0,0,2
3,102,"[1281, 1278]",0,519,208.50,2021-08-15 16:46:06,2021-08-15 16:54:45,1,1,0,...,0,0,0,0,0,0,0,0,0,2
4,102,"[1008, 1007, 1013, 1012, 1004, 1010]",0,847,568.94,2021-01-05 00:05:38,2021-01-05 00:19:45,1,1,0,...,0,0,0,0,0,0,0,0,0,6

## Przygotowanie danych do modelu

In [94]:
main_df.reset_index(inplace=True)

In [95]:
main_df.drop(columns=['session_id', 'user_id', 'product_id'], inplace=True)

In [96]:
dates_encoded = pd.DataFrame({
    "month": main_df['session_start'].dt.month,
    "day": main_df['session_start'].dt.day,
    "hour": main_df['session_start'].dt.hour,
    "dayofweek": main_df['session_start'].dt.dayofweek,
})

In [97]:
main_df = main_df.join(dates_encoded)

In [98]:
main_df.drop(columns=['session_start', 'session_end'], inplace=True)

In [99]:
main_df.head()

,offered_discount,session_length,price,purchased,Female,Male,Akcesoria telefoniczne,Anteny RTV,Audio,Biurowe urządzenia wielofunkcyjne,...,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe,n_views,month,day,hour,dayofweek
0,5,19,199.98,1,1,0,0,0,0,0,...,0,2,2,0,0,1,7,28,15,2
1,0,1436,36664.54,1,1,0,0,0,0,9,...,0,0,0,0,0,8,9,12,16,6
2,15,117,222.60,1,1,0,0,0,0,0,...,0,0,0,0,0,2,4,9,22,4
3,0,519,208.50,1,1,0,0,0,0,0,...,0,0,0,0,0,2,8,15,16,6
4,0,847,568.94,1,1,0,0,0,0,0,...,0,0,0,0,0,6,1,5,0,1

# Wydzielenie zbioru treningowego, walidacyjnego i testowego

In [25]:
y = main_df['purchased'].values
X = main_df.drop(columns=['purchased'])

In [26]:
X

,offered_discount,session_length,price,Female,Male,Akcesoria telefoniczne,Anteny RTV,Audio,Biurowe urządzenia wielofunkcyjne,Drukarki i skanery,...,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe,n_views,month,day,hour,dayofweek
0,5,19,199.98,1,0,0,0,0,0,0,...,0,2,2,0,0,1,7,28,15,2
1,0,1436,36664.54,1,0,0,0,0,9,9,...,0,0,0,0,0,8,9,12,16,6
2,15,117,222.60,1,0,0,0,0,0,0,...,0,0,0,0,0,2,4,9,22,4
3,0,519,208.50,1,0,0,0,0,0,0,...,0,0,0,0,0,2,8,15,16,6
4,0,847,568.94,1,0,0,0,0,0,0,...,0,0,0,0,0,6,1,5,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9522,0,0,64.80,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,27,3,2
9523,15,116,199.98,1,0,0,0,0,0,0,...,0,2,2,0,0,1,7,6,16,1
9524,0,1617,1141.66,1,0,0,10,0,0,0,...,0,10,10,0,0,10,3,7,7,6
9525,20,0,79.90,1,0,0,0,0,0,0,...,0,0,0,0,0,1,10,12,0,1
9526,0,0,109.00,1,0,0,0,0,0,0,...,0,0,1,0,0,1,8,19,21,3

In [27]:
y

array([1, 1, 1, ..., 0, 0, 0])

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [29]:
X_test.shape

(2859, 38)

In [30]:
X_train.shape

(6668, 38)

## Szukanie modelu

## RandomForest

In [33]:
random_forest = RandomForestClassifier()
random_forest.fit(X_train, y_train)

RandomForestClassifier()

In [34]:
rand_forest_scores = cross_val_score(random_forest, X_train, y_train, cv=10, scoring="accuracy")
rand_forest_scores.mean()

0.9718075646861253

## KNN

In [35]:
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [36]:
knn_forest_scores = cross_val_score(knn, X_train, y_train, cv=10, scoring="accuracy")
knn_forest_scores.mean()

0.7897425161293227

## SVM

In [37]:
svm = SVC(kernel="rbf")

In [38]:
svm_scores = cross_val_score(svm, X_train, y_train, cv=10, scoring="accuracy")
svm_scores.mean()

0.5947805376590983

## Gradient Boosting

In [39]:
gradient_boosting = GradientBoostingClassifier()

In [40]:
gradient_boosting_scores = cross_val_score(gradient_boosting, X_train, y_train, cv=3, scoring="accuracy")
gradient_boosting_scores.mean()

0.9308646114274045

## Sieć neuronowa

In [41]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, activation='relu', input_dim=len(main_df.columns)-1),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1, activation="sigmoid")

])

2022-01-08 01:44:51.790330: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-01-08 01:44:51.816988: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudnn.so.8'; dlerror: libcudnn.so.8: cannot open shared object file: No such file or directory
2022-01-08 01:44:51.817006: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1850] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...
2022-01-08 01:44:51.818215: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [237]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 128)               4992

 dense_5 (Dense)             (None, 64)                8256

 dense_6 (Dense)             (None, 32)                2080

 dense_7 (Dense)             (None, 1)                 33

=================================================================
Total params: 15,361
Trainable params: 15,361
Non-trainable params: 0
_________________________________________________________________

In [238]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=['accuracy'])

In [ ]:
model.fit(np.array(X_train,dtype=np.float64), np.array(y_train,dtype=np.float64), epochs=200)

Epoch 1/200
209/209 [==============================] - 0s 606us/step - loss: 13.1033 - accuracy: 0.5555
Epoch 2/200
209/209 [==============================] - 0s 634us/step - loss: 4.9674 - accuracy: 0.6317
Epoch 3/200
209/209 [==============================] - 0s 607us/step - loss: 4.2074 - accuracy: 0.6407
Epoch 4/200
209/209 [==============================] - 0s 667us/step - loss: 2.1996 - accuracy: 0.6686
Epoch 5/200
209/209 [==============================] - 0s 606us/step - loss: 3.1186 - accuracy: 0.6587
Epoch 6/200
209/209 [==============================] - 0s 616us/step - loss: 2.5689 - accuracy: 0.6671
Epoch 7/200
209/209 [==============================] - 0s 600us/step - loss: 1.7191 - accuracy: 0.6741
Epoch 8/200
209/209 [==============================] - 0s 587us/step - loss: 1.2757 - accuracy: 0.6924
Epoch 9/200
209/209 [==============================] - 0s 635us/step - loss: 1.2008 - accuracy: 0.6890
Epoch 10/200
209/209 [==============================] - 0s 656us/step - loss: 1.1036 - accuracy: 0.6900
Epoch 11/200
209/209 [==============================] - 0s 611us/step - loss: 0.8430 - accuracy: 0.7031
Epoch 12/200
209/209 [==============================] - 0s 648us/step - loss: 0.9604 - accuracy: 0.6995
Epoch 13/200
209/209 [==============================] - 0s 619us/step - loss: 1.0570 - accuracy: 0.6923
Epoch 14/200
209/209 [==============================] - 0s 575us/step - loss: 1.1244 - accuracy: 0.6848
Epoch 15/200
209/209 [==============================] - 0s 642us/step - loss: 0.7480 - accuracy: 0.6944
Epoch 16/200
209/209 [==============================] - 0s 610us/step - loss: 0.5168 - accuracy: 0.7181
Epoch 17/200
209/209 [==============================] - 0s 650us/step - loss: 0.5013 - accuracy: 0.7238
Epoch 18/200
209/209 [==============================] - 0s 634us/step - loss: 0.5173 - accuracy: 0.7209
Epoch 19/200
209/209 [==============================] - 0s 611us/step - loss: 0.7127 - accuracy: 0.6993
Epoch 20/200
209/209 [==============================] - 0s 586us/step - loss: 0.5317 - accuracy: 0.7178
Epoch 21/200
209/209 [==============================] - 0s 629us/step - loss: 0.4714 - accuracy: 0.7335
Epoch 22/200
209/209 [==============================] - 0s 622us/step - loss: 0.5330 - accuracy: 0.7304
Epoch 23/200
209/209 [==============================] - 0s 641us/step - loss: 0.4490 - accuracy: 0.7504
Epoch 24/200
209/209 [==============================] - 0s 616us/step - loss: 0.4459 - accuracy: 0.7560
Epoch 25/200
209/209 [==============================] - 0s 620us/step - loss: 0.4288 - accuracy: 0.7692
Epoch 26/200
209/209 [==============================] - 0s 618us/step - loss: 0.4217 - accuracy: 0.7741
Epoch 27/200
209/209 [==============================] - 0s 576us/step - loss: 0.4164 - accuracy: 0.7746
Epoch 28/200
209/209 [==============================] - 0s 613us/step - loss: 0.4125 - accuracy: 0.7735
Epoch 29/200
209/209 [==============================] - 0s 603us/step - loss: 0.3832 - accuracy: 0.7954
Epoch 30/200
209/209 [==============================] - 0s 631us/step - loss: 0.4034 - accuracy: 0.7785
Epoch 31/200
209/209 [==============================] - 0s 595us/step - loss: 0.3748 - accuracy: 0.7944
Epoch 32/200
209/209 [==============================] - 0s 567us/step - loss: 0.4299 - accuracy: 0.7633
Epoch 33/200
209/209 [==============================] - 0s 625us/step - loss: 0.3969 - accuracy: 0.7921
Epoch 34/200
209/209 [==============================] - 0s 584us/step - loss: 0.3832 - accuracy: 0.7956
Epoch 35/200
209/209 [==============================] - 0s 626us/step - loss: 0.3712 - accuracy: 0.7929
Epoch 36/200
209/209 [==============================] - 0s 638us/step - loss: 0.3547 - accuracy: 0.8047
Epoch 37/200
209/209 [==============================] - 0s 639us/step - loss: 0.3680 - accuracy: 0.8017
Epoch 38/200
209/209 [==============================] - 0s 653us/step - loss: 0.3516 - accuracy: 0.8071
Epoch 39/200
209/209 [==============================] - 0s 589us/step - loss: 0.3139 - accuracy: 0.8319
Epoch 40/200
209/209 [==============================] - 0s 627us/step - loss: 0.3847 - accuracy: 0.7935
Epoch 41/200
209/209 [==============================] - 0s 649us/step - loss: 0.3283 - accuracy: 0.8284
Epoch 42/200
209/209 [==============================] - 0s 611us/step - loss: 0.3666 - accuracy: 0.8013
Epoch 43/200
209/209 [==============================] - 0s 653us/step - loss: 0.2960 - accuracy: 0.8413
Epoch 44/200
209/209 [==============================] - 0s 646us/step - loss: 0.3249 - accuracy: 0.8238
Epoch 45/200
209/209 [==============================] - 0s 623us/step - loss: 0.2884 - accuracy: 0.8388
Epoch 46/200
209/209 [==============================] - 0s 629us/step - loss: 0.3065 - accuracy: 0.8302
Epoch 47/200
209/209 [==============================] - 0s 595us/step - loss: 0.2905 - accuracy: 0.8448
Epoch 48/200
209/209 [==============================] - 0s 596us/step - loss: 0.2677 - accuracy: 0.8479
Epoch 49/200
209/209 [==============================] - 0s 618us/step - loss: 0.3109 - accuracy: 0.8325
Epoch 50/200
209/209 [==============================] - 0s 627us/step - loss: 0.3583 - accuracy: 0.8187
Epoch 51/200
209/209 [==============================] - 0s 570us/step - loss: 0.2769 - accuracy: 0.8529
Epoch 52/200
209/209 [==============================] - 0s 663us/step - loss: 0.3033 - accuracy: 0.8487
Epoch 53/200
209/209 [==============================] - 0s 629us/step - loss: 0.3714 - accuracy: 0.8110
Epoch 54/200
209/209 [==============================] - 0s 615us/step - loss: 0.2401 - accuracy: 0.8554
Epoch 55/200
209/209 [==============================] - 0s 640us/step - loss: 0.2741 - accuracy: 0.8440
Epoch 56/200
209/209 [==============================] - 0s 595us/step - loss: 0.2906 - accuracy: 0.8389
Epoch 57/200
209/209 [==============================] - 0s 616us/step - loss: 0.2826 - accuracy: 0.8422
Epoch 58/200
209/209 [==============================] - 0s 596us/step - loss: 0.2822 - accuracy: 0.8493
Epoch 59/200
209/209 [==============================] - 0s 604us/step - loss: 0.2905 - accuracy: 0.8487
Epoch 60/200
209/209 [==============================] - 0s 656us/step - loss: 0.2612 - accuracy: 0.8613
Epoch 61/200
209/209 [==============================] - 0s 601us/step - loss: 0.2986 - accuracy: 0.8427
Epoch 62/200
209/209 [==============================] - 0s 637us/step - loss: 0.2632 - accuracy: 0.8526
Epoch 63/200
209/209 [==============================] - 0s 614us/step - loss: 0.2490 - accuracy: 0.8617
Epoch 64/200
209/209 [==============================] - 0s 578us/step - loss: 0.2851 - accuracy: 0.8539
Epoch 65/200
209/209 [==============================] - 0s 620us/step - loss: 0.2474 - accuracy: 0.8682
Epoch 66/200
209/209 [==============================] - 0s 585us/step - loss: 0.3087 - accuracy: 0.8373
Epoch 67/200
209/209 [==============================] - 0s 654us/step - loss: 0.2768 - accuracy: 0.8472
Epoch 68/200
209/209 [==============================] - 0s 576us/step - loss: 0.2686 - accuracy: 0.8550
Epoch 69/200
209/209 [==============================] - 0s 624us/step - loss: 0.3171 - accuracy: 0.8448
Epoch 70/200
209/209 [==============================] - 0s 613us/step - loss: 0.2871 - accuracy: 0.8472
Epoch 71/200
209/209 [==============================] - 0s 601us/step - loss: 0.2371 - accuracy: 0.8808
Epoch 72/200
209/209 [==============================] - 0s 597us/step - loss: 0.2342 - accuracy: 0.8749
Epoch 73/200
209/209 [==============================] - 0s 655us/step - loss: 0.2711 - accuracy: 0.8586
Epoch 74/200
209/209 [==============================] - 0s 571us/step - loss: 0.2955 - accuracy: 0.8458
Epoch 75/200
209/209 [==============================] - 0s 621us/step - loss: 0.2775 - accuracy: 0.8538
Epoch 76/200
209/209 [==============================] - 0s 614us/step - loss: 0.2364 - accuracy: 0.8710
Epoch 77/200
209/209 [==============================] - 0s 658us/step - loss: 0.2995 - accuracy: 0.8449
Epoch 78/200
209/209 [==============================] - 0s 610us/step - loss: 0.2591 - accuracy: 0.8737
Epoch 79/200
209/209 [==============================] - 0s 586us/step - loss: 0.2487 - accuracy: 0.8772
Epoch 80/200
209/209 [==============================] - 0s 599us/step - loss: 0.2333 - accuracy: 0.8794
Epoch 81/200
209/209 [==============================] - 0s 642us/step - loss: 0.2993 - accuracy: 0.8392
Epoch 82/200
209/209 [==============================] - 0s 561us/step - loss: 0.2183 - accuracy: 0.8767
Epoch 83/200
209/209 [==============================] - 0s 628us/step - loss: 0.2218 - accuracy: 0.8809
Epoch 84/200
209/209 [==============================] - 0s 619us/step - loss: 0.2802 - accuracy: 0.8539
Epoch 85/200
209/209 [==============================] - 0s 584us/step - loss: 0.2080 - accuracy: 0.8860
Epoch 86/200
209/209 [==============================] - 0s 603us/step - loss: 0.2968 - accuracy: 0.8413
Epoch 87/200
209/209 [==============================] - 0s 607us/step - loss: 0.2712 - accuracy: 0.8533
Epoch 88/200
209/209 [==============================] - 0s 593us/step - loss: 0.2191 - accuracy: 0.8790
Epoch 89/200
209/209 [==============================] - 0s 623us/step - loss: 0.2225 - accuracy: 0.8800
Epoch 90/200
209/209 [==============================] - 0s 588us/step - loss: 0.2270 - accuracy: 0.8833
Epoch 91/200
209/209 [==============================] - 0s 643us/step - loss: 0.2120 - accuracy: 0.8860
Epoch 92/200
209/209 [==============================] - 0s 618us/step - loss: 0.2251 - accuracy: 0.8838
Epoch 93/200
209/209 [==============================] - 0s 622us/step - loss: 0.4130 - accuracy: 0.8053
Epoch 94/200
209/209 [==============================] - 0s 600us/step - loss: 0.2618 - accuracy: 0.8560
Epoch 95/200
209/209 [==============================] - 0s 591us/step - loss: 0.2260 - accuracy: 0.8791
Epoch 96/200
209/209 [==============================] - 0s 587us/step - loss: 0.2264 - accuracy: 0.8790
Epoch 97/200
209/209 [==============================] - 0s 623us/step - loss: 0.1907 - accuracy: 0.8952
Epoch 98/200
209/209 [==============================] - 0s 613us/step - loss: 0.2560 - accuracy: 0.8644
Epoch 99/200
162/209 [======================>.......] - ETA: 0s - loss: 0.1965 - accuracy: 0.8935

In [ ]:
predictions = model.predict(np.array(X_test,dtype=np.float64)) > 0.5

In [ ]:
accuracy_score(y_test, predictions)