In [1]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
import tensorflow as tf
import numpy as np

In [2]:
df_sessions = pd.read_json(path_or_buf='../../data/raw/sessions.jsonl', lines=True)
df_products = pd.read_json(path_or_buf='../../data/raw/products.jsonl', lines=True)
df_users = pd.read_json(path_or_buf='../../data/raw/users.jsonl', lines=True)

In [3]:
df_users.head()

   user_id              name      city                   street
0      102     Aurelia Malon    Poznań  pl. Brzoskwiniowa 11/53
1      103     Mateusz Kobel    Poznań        al. Wrocławska 10
2      104    Radosław Ratka  Szczecin           pl. Nowa 89/04
3      105  Anastazja Oszust  Warszawa     ul. Częstochowska 80
4      106      Sylwia Nurek  Warszawa          al. Wiosenna 72

In [4]:
df_products.head()

,product_id,product_name,category_path,price
0,1001,Telefon Siemens Gigaset DA310,Telefony i akcesoria;Telefony stacjonarne,58.97
1,1002,Kyocera FS-1135MFP,Komputery;Drukarki i skanery;Biurowe urządzeni...,2048.50
2,1003,Kyocera FS-3640MFP,Komputery;Drukarki i skanery;Biurowe urządzeni...,7639.00
3,1004,Fallout 3 (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,49.99
4,1005,Szalone Króliki Na żywo i w kolorze (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,49.99

In [5]:
categories_one_hot = df_products.category_path.str.get_dummies(';')
categories_one_hot.head()

,Akcesoria telefoniczne,Anteny RTV,Audio,Biurowe urządzenia wielofunkcyjne,Drukarki i skanery,Gry PlayStation3,Gry Xbox 360,Gry i konsole,Gry komputerowe,Gry na konsole,...,Słuchawki,Tablety,Tablety i akcesoria,Telefony i akcesoria,Telefony komórkowe,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [6]:
cities_one_hot = df_users.city.str.get_dummies()
cities_one_hot.head()

   Gdynia  Kraków  Poznań  Radom  Szczecin  Warszawa  Wrocław
0       0       0       1      0         0         0        0
1       0       0       1      0         0         0        0
2       0       0       0      0         1         0        0
3       0       0       0      0         0         1        0
4       0       0       0      0         0         1        0

In [7]:
df_products.drop(columns=['product_name', 'category_path'], inplace=True)
df_products = df_products.join(categories_one_hot)

In [8]:
df_users.drop(columns=['city'], inplace=True)
df_users = df_users.join(cities_one_hot)

In [9]:
df_products.head()

,product_id,price,Akcesoria telefoniczne,Anteny RTV,Audio,Biurowe urządzenia wielofunkcyjne,Drukarki i skanery,Gry PlayStation3,Gry Xbox 360,Gry i konsole,...,Słuchawki,Tablety,Tablety i akcesoria,Telefony i akcesoria,Telefony komórkowe,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe
0,1001,58.97,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1,1002,2048.50,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1003,7639.00,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1004,49.99,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1005,49.99,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df_sessions.head()

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id
0,124,2021-07-28 15:47:21,102,1283,VIEW_PRODUCT,5,NaN
1,124,2021-07-28 15:47:40,102,1283,BUY_PRODUCT,5,20001.0
2,125,2021-09-12 16:43:16,102,1076,VIEW_PRODUCT,0,NaN
3,125,2021-09-12 16:46:24,102,1080,VIEW_PRODUCT,0,NaN
4,125,2021-09-12 16:48:08,102,1079,VIEW_PRODUCT,0,NaN

In [11]:
df_users['sex'] = ['Female' if name.split(' ')[0][-1] == 'a' else 'Male' for name in df_users['name']]
sex_one_hot = df_users.sex.str.get_dummies()
df_users.drop(columns=['sex'], inplace=True)
df_users = df_users.join(sex_one_hot)

In [12]:
df_users.head()

,user_id,name,street,Gdynia,Kraków,Poznań,Radom,Szczecin,Warszawa,Wrocław,Female,Male
0,102,Aurelia Malon,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0
1,103,Mateusz Kobel,al. Wrocławska 10,0,0,1,0,0,0,0,0,1
2,104,Radosław Ratka,pl. Nowa 89/04,0,0,0,0,1,0,0,0,1
3,105,Anastazja Oszust,ul. Częstochowska 80,0,0,0,0,0,1,0,1,0
4,106,Sylwia Nurek,al. Wiosenna 72,0,0,0,0,0,1,0,1,0

In [13]:
df = df_sessions.merge(df_products, left_on='product_id', right_on='product_id')
df = df.merge(df_users, left_on='user_id', right_on='user_id')
df.head()

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id,price,Akcesoria telefoniczne,Anteny RTV,...,street,Gdynia,Kraków,Poznań,Radom,Szczecin,Warszawa,Wrocław,Female,Male
0,124,2021-07-28 15:47:21,102,1283,VIEW_PRODUCT,5,NaN,99.99,0,0,...,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0
1,124,2021-07-28 15:47:40,102,1283,BUY_PRODUCT,5,20001.0,99.99,0,0,...,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0
2,139,2021-07-01 11:28:02,102,1283,VIEW_PRODUCT,0,NaN,99.99,0,0,...,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0
3,139,2021-07-01 11:31:18,102,1283,BUY_PRODUCT,0,20013.0,99.99,0,0,...,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0
4,144,2021-03-19 13:55:04,102,1283,VIEW_PRODUCT,0,NaN,99.99,0,0,...,pl. Brzoskwiniowa 11/53,0,0,1,0,0,0,0,1,0

In [14]:
aggregation_functions = {
    'timestamp' : lambda t: [(t.max() - t.min()).seconds, t.min(), t.max()],
    'user_id' : 'first',
    'product_id' : 'unique',
    'event_type' : lambda e: 1 if len(e.unique()) > 1 else 0,
    'offered_discount' : 'first',
    'price' : lambda p: p.sum()
}

for name in categories_one_hot.columns:
    aggregation_functions[name] = lambda n: n.sum()

# for name in cities_one_hot.columns:
#     aggregation_functions[name] = 'first'

for name in sex_one_hot.columns:
    aggregation_functions[name] = 'first'

main_df = df.groupby(df['session_id']).aggregate(aggregation_functions)
main_df.rename(columns={'event_type' : 'purchased'}, inplace=True)

In [15]:
timestamp_dict = [{'session_length' : x[0], 'session_start' : x[1], 'session_end' : x[2]} for x in main_df['timestamp']]
timestamp_df = pd.DataFrame(timestamp_dict)

In [16]:
main_df.reset_index(inplace=True)
main_df = pd.concat([main_df, timestamp_df], axis=1, join="inner")
main_df.drop(columns=['timestamp'], inplace=True)
main_df.index.name = 'session_id'
main_df = main_df[['user_id', 'product_id', 'offered_discount', 'session_length', 'price', 'session_start', 'session_end', 'purchased'] + list(sex_one_hot.columns.values) + list(categories_one_hot.columns.values)]
main_df.head()

,user_id,product_id,offered_discount,session_length,price,session_start,session_end,purchased,Female,Male,...,Słuchawki,Tablety,Tablety i akcesoria,Telefony i akcesoria,Telefony komórkowe,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe
session_id,,,,,,,,,,,,,,,,,,,,,
0,102,[1283],5,19,199.98,2021-07-28 15:47:21,2021-07-28 15:47:40,1,1,0,...,0,0,0,0,0,0,2,2,0,0
1,102,"[1076, 1080, 1079, 1003, 1002, 1075, 1078, 1077]",0,1436,36664.54,2021-09-12 16:43:16,2021-09-12 17:07:12,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,102,"[1281, 1278]",15,117,222.60,2021-04-09 22:31:08,2021-04-09 22:33:05,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,102,"[1281, 1278]",0,519,208.50,2021-08-15 16:46:06,2021-08-15 16:54:45,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,102,"[1008, 1007, 1013, 1012, 1004, 1010]",0,847,568.94,2021-01-05 00:05:38,2021-01-05 00:19:45,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
main_df['n_views'] = [len(x) for x in main_df['product_id'].values]

In [18]:
main_df.head()

,user_id,product_id,offered_discount,session_length,price,session_start,session_end,purchased,Female,Male,...,Tablety,Tablety i akcesoria,Telefony i akcesoria,Telefony komórkowe,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe,n_views
session_id,,,,,,,,,,,,,,,,,,,,,
0,102,[1283],5,19,199.98,2021-07-28 15:47:21,2021-07-28 15:47:40,1,1,0,...,0,0,0,0,0,2,2,0,0,1
1,102,"[1076, 1080, 1079, 1003, 1002, 1075, 1078, 1077]",0,1436,36664.54,2021-09-12 16:43:16,2021-09-12 17:07:12,1,1,0,...,0,0,0,0,0,0,0,0,0,8
2,102,"[1281, 1278]",15,117,222.60,2021-04-09 22:31:08,2021-04-09 22:33:05,1,1,0,...,0,0,0,0,0,0,0,0,0,2
3,102,"[1281, 1278]",0,519,208.50,2021-08-15 16:46:06,2021-08-15 16:54:45,1,1,0,...,0,0,0,0,0,0,0,0,0,2
4,102,"[1008, 1007, 1013, 1012, 1004, 1010]",0,847,568.94,2021-01-05 00:05:38,2021-01-05 00:19:45,1,1,0,...,0,0,0,0,0,0,0,0,0,6

## Przygotowanie danych do modelu

In [19]:
main_df.reset_index(inplace=True)

In [20]:
main_df.drop(columns=['session_id', 'user_id', 'product_id'], inplace=True)

In [21]:
dates_encoded = pd.DataFrame({
    "month": main_df['session_start'].dt.month,
    "day": main_df['session_start'].dt.day,
    "hour": main_df['session_start'].dt.hour,
    "dayofweek": main_df['session_start'].dt.dayofweek,
})

In [22]:
main_df = main_df.join(dates_encoded)

In [23]:
main_df.drop(columns=['session_start', 'session_end'], inplace=True)

In [24]:
main_df.head()

,offered_discount,session_length,price,purchased,Female,Male,Akcesoria telefoniczne,Anteny RTV,Audio,Biurowe urządzenia wielofunkcyjne,...,Telefony stacjonarne,Telewizory i akcesoria,Video,Zestawy głośnomówiące,Zestawy słuchawkowe,n_views,month,day,hour,dayofweek
0,5,19,199.98,1,1,0,0,0,0,0,...,0,2,2,0,0,1,7,28,15,2
1,0,1436,36664.54,1,1,0,0,0,0,9,...,0,0,0,0,0,8,9,12,16,6
2,15,117,222.60,1,1,0,0,0,0,0,...,0,0,0,0,0,2,4,9,22,4
3,0,519,208.50,1,1,0,0,0,0,0,...,0,0,0,0,0,2,8,15,16,6
4,0,847,568.94,1,1,0,0,0,0,0,...,0,0,0,0,0,6,1,5,0,1

# Wydzielenie zbioru treningowego, walidacyjnego i testowego

In [65]:
y = main_df['purchased'].values
X = main_df.drop(columns=['purchased']).values

In [66]:
X

array([[5.000000e+00, 1.900000e+01, 1.999800e+02, ..., 2.800000e+01,
        1.500000e+01, 2.000000e+00],
       [0.000000e+00, 1.436000e+03, 3.666454e+04, ..., 1.200000e+01,
        1.600000e+01, 6.000000e+00],
       [1.500000e+01, 1.170000e+02, 2.226000e+02, ..., 9.000000e+00,
        2.200000e+01, 4.000000e+00],
       ...,
       [0.000000e+00, 1.617000e+03, 1.141660e+03, ..., 7.000000e+00,
        7.000000e+00, 6.000000e+00],
       [2.000000e+01, 0.000000e+00, 7.990000e+01, ..., 1.200000e+01,
        0.000000e+00, 1.000000e+00],
       [0.000000e+00, 0.000000e+00, 1.090000e+02, ..., 1.900000e+01,
        2.100000e+01, 3.000000e+00]])

In [67]:
y

array([1, 1, 1, ..., 0, 0, 0])

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [69]:
X_test.shape

(2859, 38)

In [70]:
X_train.shape

(6668, 38)

## Szukanie modelu

## RandomForest

In [71]:
random_forest = RandomForestClassifier()
random_forest.fit(X_train, y_train)

RandomForestClassifier()

In [72]:
rand_forest_scores = cross_val_score(random_forest, X_train, y_train, cv=10, scoring="accuracy")
rand_forest_scores.mean()

0.9736053144598872

## KNN

In [33]:
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [34]:
knn_forest_scores = cross_val_score(knn, X_train, y_train, cv=10, scoring="accuracy")
knn_forest_scores.mean()

0.804441698069884

## SVM

In [35]:
svm = SVC(kernel="rbf")

In [36]:
svm_scores = cross_val_score(svm, X_train, y_train, cv=10, scoring="accuracy")
svm_scores.mean()

0.5865342103722913

## Gradient Boosting

In [37]:
gradient_boosting = GradientBoostingClassifier()

In [38]:
gradient_boosting_scores = cross_val_score(gradient_boosting, X_train, y_train, cv=3, scoring="accuracy")
gradient_boosting_scores.mean()

0.9305641090424833

## Sieć neuronowa

In [39]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, activation='relu', input_dim=len(main_df.columns)-1),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1, activation="sigmoid")

])

2022-01-08 18:13:06.987661: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-01-08 18:13:07.013079: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudnn.so.8'; dlerror: libcudnn.so.8: cannot open shared object file: No such file or directory
2022-01-08 18:13:07.013093: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1850] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...
2022-01-08 18:13:07.013547: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [40]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               4992

 dense_1 (Dense)             (None, 64)                8256

 dense_2 (Dense)             (None, 32)                2080

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 15,361
Trainable params: 15,361
Non-trainable params: 0
_________________________________________________________________

In [41]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=['accuracy'])

In [42]:
model.fit(np.array(X_train,dtype=np.float64), np.array(y_train,dtype=np.float64), epochs=200)

Epoch 1/200
209/209 [==============================] - 0s 628us/step - loss: 6.8104 - accuracy: 0.6053
Epoch 2/200
209/209 [==============================] - 0s 631us/step - loss: 4.0076 - accuracy: 0.6461
Epoch 3/200
209/209 [==============================] - 0s 598us/step - loss: 5.0796 - accuracy: 0.6479
Epoch 4/200
209/209 [==============================] - 0s 610us/step - loss: 2.8016 - accuracy: 0.6725
Epoch 5/200
209/209 [==============================] - 0s 561us/step - loss: 2.8625 - accuracy: 0.6593
Epoch 6/200
209/209 [==============================] - 0s 577us/step - loss: 2.9004 - accuracy: 0.6774
Epoch 7/200
209/209 [==============================] - 0s 627us/step - loss: 1.5688 - accuracy: 0.6983
Epoch 8/200
209/209 [==============================] - 0s 576us/step - loss: 1.7745 - accuracy: 0.6900
Epoch 9/200
209/209 [==============================] - 0s 626us/step - loss: 2.1750 - accuracy: 0.6855
Epoch 10/200
209/209 [==============================] - 0s 591us/step - loss: 1.2560 - accuracy: 0.7031
Epoch 11/200
209/209 [==============================] - 0s 560us/step - loss: 1.1714 - accuracy: 0.7095
Epoch 12/200
209/209 [==============================] - 0s 620us/step - loss: 0.7828 - accuracy: 0.7238
Epoch 13/200
209/209 [==============================] - 0s 601us/step - loss: 0.7439 - accuracy: 0.7287
Epoch 14/200
209/209 [==============================] - 0s 580us/step - loss: 0.7119 - accuracy: 0.7254
Epoch 15/200
209/209 [==============================] - 0s 584us/step - loss: 0.5394 - accuracy: 0.7412
Epoch 16/200
209/209 [==============================] - 0s 602us/step - loss: 0.5438 - accuracy: 0.7404
Epoch 17/200
209/209 [==============================] - 0s 624us/step - loss: 0.5305 - accuracy: 0.7457
Epoch 18/200
209/209 [==============================] - 0s 608us/step - loss: 0.4825 - accuracy: 0.7585
Epoch 19/200
209/209 [==============================] - 0s 605us/step - loss: 0.4871 - accuracy: 0.7542
Epoch 20/200
209/209 [==============================] - 0s 635us/step - loss: 0.4723 - accuracy: 0.7515
Epoch 21/200
209/209 [==============================] - 0s 631us/step - loss: 0.4422 - accuracy: 0.7606
Epoch 22/200
209/209 [==============================] - 0s 589us/step - loss: 0.4605 - accuracy: 0.7600
Epoch 23/200
209/209 [==============================] - 0s 590us/step - loss: 0.4382 - accuracy: 0.7660
Epoch 24/200
209/209 [==============================] - 0s 626us/step - loss: 0.4262 - accuracy: 0.7743
Epoch 25/200
209/209 [==============================] - 0s 649us/step - loss: 0.4227 - accuracy: 0.7783
Epoch 26/200
209/209 [==============================] - 0s 606us/step - loss: 0.4123 - accuracy: 0.7837
Epoch 27/200
209/209 [==============================] - 0s 635us/step - loss: 0.3985 - accuracy: 0.7843
Epoch 28/200
209/209 [==============================] - 0s 603us/step - loss: 0.3880 - accuracy: 0.7933
Epoch 29/200
209/209 [==============================] - 0s 580us/step - loss: 0.3788 - accuracy: 0.7962
Epoch 30/200
209/209 [==============================] - 0s 605us/step - loss: 0.4152 - accuracy: 0.7912
Epoch 31/200
209/209 [==============================] - 0s 598us/step - loss: 0.3743 - accuracy: 0.8023
Epoch 32/200
209/209 [==============================] - 0s 627us/step - loss: 0.3641 - accuracy: 0.8110
Epoch 33/200
209/209 [==============================] - 0s 547us/step - loss: 0.3645 - accuracy: 0.8109
Epoch 34/200
209/209 [==============================] - 0s 597us/step - loss: 0.4016 - accuracy: 0.7914
Epoch 35/200
209/209 [==============================] - 0s 597us/step - loss: 0.4025 - accuracy: 0.7887
Epoch 36/200
209/209 [==============================] - 0s 649us/step - loss: 0.4615 - accuracy: 0.7750
Epoch 37/200
209/209 [==============================] - 0s 559us/step - loss: 0.3727 - accuracy: 0.8025
Epoch 38/200
209/209 [==============================] - 0s 585us/step - loss: 0.3749 - accuracy: 0.8068
Epoch 39/200
209/209 [==============================] - 0s 622us/step - loss: 0.3730 - accuracy: 0.8025
Epoch 40/200
209/209 [==============================] - 0s 590us/step - loss: 0.3399 - accuracy: 0.8199
Epoch 41/200
209/209 [==============================] - 0s 584us/step - loss: 0.3298 - accuracy: 0.8254
Epoch 42/200
209/209 [==============================] - 0s 601us/step - loss: 0.3572 - accuracy: 0.8199
Epoch 43/200
209/209 [==============================] - 0s 604us/step - loss: 0.3418 - accuracy: 0.8160
Epoch 44/200
209/209 [==============================] - 0s 604us/step - loss: 0.2877 - accuracy: 0.8421
Epoch 45/200
209/209 [==============================] - 0s 623us/step - loss: 0.3006 - accuracy: 0.8371
Epoch 46/200
209/209 [==============================] - 0s 611us/step - loss: 0.3162 - accuracy: 0.8206
Epoch 47/200
209/209 [==============================] - 0s 588us/step - loss: 0.3019 - accuracy: 0.8425
Epoch 48/200
209/209 [==============================] - 0s 622us/step - loss: 0.3443 - accuracy: 0.8191
Epoch 49/200
209/209 [==============================] - 0s 606us/step - loss: 0.3138 - accuracy: 0.8257
Epoch 50/200
209/209 [==============================] - 0s 594us/step - loss: 0.2878 - accuracy: 0.8424
Epoch 51/200
209/209 [==============================] - 0s 647us/step - loss: 0.3999 - accuracy: 0.8322
Epoch 52/200
209/209 [==============================] - 0s 609us/step - loss: 0.2744 - accuracy: 0.8577
Epoch 53/200
209/209 [==============================] - 0s 598us/step - loss: 0.2994 - accuracy: 0.8439
Epoch 54/200
209/209 [==============================] - 0s 599us/step - loss: 0.2566 - accuracy: 0.8616
Epoch 55/200
209/209 [==============================] - 0s 625us/step - loss: 0.2586 - accuracy: 0.8517
Epoch 56/200
209/209 [==============================] - 0s 620us/step - loss: 0.2991 - accuracy: 0.8418
Epoch 57/200
209/209 [==============================] - 0s 589us/step - loss: 0.2832 - accuracy: 0.8431
Epoch 58/200
209/209 [==============================] - 0s 630us/step - loss: 0.2809 - accuracy: 0.8506
Epoch 59/200
209/209 [==============================] - 0s 587us/step - loss: 0.2471 - accuracy: 0.8658
Epoch 60/200
209/209 [==============================] - 0s 625us/step - loss: 0.2677 - accuracy: 0.8619
Epoch 61/200
209/209 [==============================] - 0s 608us/step - loss: 0.2219 - accuracy: 0.8761
Epoch 62/200
209/209 [==============================] - 0s 596us/step - loss: 0.2703 - accuracy: 0.8592
Epoch 63/200
209/209 [==============================] - 0s 617us/step - loss: 0.2280 - accuracy: 0.8748
Epoch 64/200
209/209 [==============================] - 0s 620us/step - loss: 0.2423 - accuracy: 0.8733
Epoch 65/200
209/209 [==============================] - 0s 628us/step - loss: 0.3012 - accuracy: 0.8500
Epoch 66/200
209/209 [==============================] - 0s 642us/step - loss: 0.2763 - accuracy: 0.8515
Epoch 67/200
209/209 [==============================] - 0s 595us/step - loss: 0.2553 - accuracy: 0.8637
Epoch 68/200
209/209 [==============================] - 0s 623us/step - loss: 0.2396 - accuracy: 0.8677
Epoch 69/200
209/209 [==============================] - 0s 600us/step - loss: 0.2375 - accuracy: 0.8716
Epoch 70/200
209/209 [==============================] - 0s 623us/step - loss: 0.2950 - accuracy: 0.8482
Epoch 71/200
209/209 [==============================] - 0s 606us/step - loss: 0.2400 - accuracy: 0.8721
Epoch 72/200
209/209 [==============================] - 0s 634us/step - loss: 0.2811 - accuracy: 0.8536
Epoch 73/200
209/209 [==============================] - 0s 637us/step - loss: 0.2110 - accuracy: 0.8809
Epoch 74/200
209/209 [==============================] - 0s 586us/step - loss: 0.2819 - accuracy: 0.8464
Epoch 75/200
209/209 [==============================] - 0s 631us/step - loss: 0.2568 - accuracy: 0.8644
Epoch 76/200
209/209 [==============================] - 0s 642us/step - loss: 0.2375 - accuracy: 0.8730
Epoch 77/200
209/209 [==============================] - 0s 617us/step - loss: 0.2122 - accuracy: 0.8856
Epoch 78/200
209/209 [==============================] - 0s 618us/step - loss: 0.2400 - accuracy: 0.8752
Epoch 79/200
209/209 [==============================] - 0s 571us/step - loss: 0.2683 - accuracy: 0.8692
Epoch 80/200
209/209 [==============================] - 0s 567us/step - loss: 0.2621 - accuracy: 0.8647
Epoch 81/200
209/209 [==============================] - 0s 548us/step - loss: 0.2582 - accuracy: 0.8616
Epoch 82/200
209/209 [==============================] - 0s 617us/step - loss: 0.2094 - accuracy: 0.8788
Epoch 83/200
209/209 [==============================] - 0s 643us/step - loss: 0.2244 - accuracy: 0.8737
Epoch 84/200
209/209 [==============================] - 0s 602us/step - loss: 0.2411 - accuracy: 0.8710
Epoch 85/200
209/209 [==============================] - 0s 585us/step - loss: 0.2253 - accuracy: 0.8835
Epoch 86/200
209/209 [==============================] - 0s 585us/step - loss: 0.2350 - accuracy: 0.8769
Epoch 87/200
209/209 [==============================] - 0s 596us/step - loss: 0.2021 - accuracy: 0.8875
Epoch 88/200
209/209 [==============================] - 0s 622us/step - loss: 0.2478 - accuracy: 0.8605
Epoch 89/200
209/209 [==============================] - 0s 625us/step - loss: 0.2391 - accuracy: 0.8764
Epoch 90/200
209/209 [==============================] - 0s 581us/step - loss: 0.1935 - accuracy: 0.8938
Epoch 91/200
209/209 [==============================] - 0s 607us/step - loss: 0.2036 - accuracy: 0.8875
Epoch 92/200
209/209 [==============================] - 0s 605us/step - loss: 0.3295 - accuracy: 0.8485
Epoch 93/200
209/209 [==============================] - 0s 605us/step - loss: 0.2018 - accuracy: 0.8889
Epoch 94/200
209/209 [==============================] - 0s 643us/step - loss: 0.2358 - accuracy: 0.8788
Epoch 95/200
209/209 [==============================] - 0s 625us/step - loss: 0.2302 - accuracy: 0.8767
Epoch 96/200
209/209 [==============================] - 0s 625us/step - loss: 0.2079 - accuracy: 0.8911
Epoch 97/200
209/209 [==============================] - 0s 622us/step - loss: 0.2388 - accuracy: 0.8877
Epoch 98/200
209/209 [==============================] - 0s 635us/step - loss: 0.2354 - accuracy: 0.8808
Epoch 99/200
209/209 [==============================] - 0s 610us/step - loss: 0.2373 - accuracy: 0.8764
Epoch 100/200
209/209 [==============================] - 0s 620us/step - loss: 0.1985 - accuracy: 0.8920
Epoch 101/200
209/209 [==============================] - 0s 672us/step - loss: 0.2227 - accuracy: 0.8758
Epoch 102/200
209/209 [==============================] - 0s 603us/step - loss: 0.2212 - accuracy: 0.8869
Epoch 103/200
209/209 [==============================] - 0s 589us/step - loss: 0.2191 - accuracy: 0.8832
Epoch 104/200
209/209 [==============================] - 0s 574us/step - loss: 0.2172 - accuracy: 0.8877
Epoch 105/200
209/209 [==============================] - 0s 604us/step - loss: 0.2561 - accuracy: 0.8593
Epoch 106/200
209/209 [==============================] - 0s 629us/step - loss: 0.1966 - accuracy: 0.8967
Epoch 107/200
209/209 [==============================] - 0s 597us/step - loss: 0.1833 - accuracy: 0.9006
Epoch 108/200
209/209 [==============================] - 0s 597us/step - loss: 0.2449 - accuracy: 0.8610
Epoch 109/200
209/209 [==============================] - 0s 665us/step - loss: 0.1962 - accuracy: 0.8967
Epoch 110/200
209/209 [==============================] - 0s 595us/step - loss: 0.2244 - accuracy: 0.8829
Epoch 111/200
209/209 [==============================] - 0s 605us/step - loss: 0.1984 - accuracy: 0.8947
Epoch 112/200
209/209 [==============================] - 0s 651us/step - loss: 0.2047 - accuracy: 0.8920
Epoch 113/200
209/209 [==============================] - 0s 622us/step - loss: 0.2301 - accuracy: 0.8857
Epoch 114/200
209/209 [==============================] - 0s 612us/step - loss: 0.1828 - accuracy: 0.8986
Epoch 115/200
209/209 [==============================] - 0s 610us/step - loss: 0.1834 - accuracy: 0.8964
Epoch 116/200
209/209 [==============================] - 0s 653us/step - loss: 0.3109 - accuracy: 0.8647
Epoch 117/200
209/209 [==============================] - 0s 584us/step - loss: 0.2035 - accuracy: 0.8940
Epoch 118/200
209/209 [==============================] - 0s 654us/step - loss: 0.2717 - accuracy: 0.8722
Epoch 119/200
209/209 [==============================] - 0s 640us/step - loss: 0.2583 - accuracy: 0.8617
Epoch 120/200
209/209 [==============================] - 0s 627us/step - loss: 0.2471 - accuracy: 0.8733
Epoch 121/200
209/209 [==============================] - 0s 607us/step - loss: 0.2134 - accuracy: 0.8860
Epoch 122/200
209/209 [==============================] - 0s 606us/step - loss: 0.1963 - accuracy: 0.8919
Epoch 123/200
209/209 [==============================] - 0s 617us/step - loss: 0.2315 - accuracy: 0.8808
Epoch 124/200
209/209 [==============================] - 0s 615us/step - loss: 0.2423 - accuracy: 0.8896
Epoch 125/200
209/209 [==============================] - 0s 633us/step - loss: 0.1910 - accuracy: 0.8973
Epoch 126/200
209/209 [==============================] - 0s 650us/step - loss: 0.1895 - accuracy: 0.8998
Epoch 127/200
209/209 [==============================] - 0s 601us/step - loss: 0.2072 - accuracy: 0.8898
Epoch 128/200
209/209 [==============================] - 0s 599us/step - loss: 0.1881 - accuracy: 0.8929
Epoch 129/200
209/209 [==============================] - 0s 622us/step - loss: 0.1840 - accuracy: 0.8988
Epoch 130/200
209/209 [==============================] - 0s 629us/step - loss: 0.1895 - accuracy: 0.8961
Epoch 131/200
209/209 [==============================] - 0s 614us/step - loss: 0.1904 - accuracy: 0.8845
Epoch 132/200
209/209 [==============================] - 0s 568us/step - loss: 0.2160 - accuracy: 0.8887
Epoch 133/200
209/209 [==============================] - 0s 580us/step - loss: 0.2256 - accuracy: 0.8910
Epoch 134/200
209/209 [==============================] - 0s 607us/step - loss: 0.2413 - accuracy: 0.8736
Epoch 135/200
209/209 [==============================] - 0s 627us/step - loss: 0.2127 - accuracy: 0.8896
Epoch 136/200
209/209 [==============================] - 0s 585us/step - loss: 0.1734 - accuracy: 0.9052
Epoch 137/200
209/209 [==============================] - 0s 640us/step - loss: 0.2335 - accuracy: 0.8491
Epoch 138/200
209/209 [==============================] - 0s 607us/step - loss: 0.2199 - accuracy: 0.8758
Epoch 139/200
209/209 [==============================] - 0s 584us/step - loss: 0.1904 - accuracy: 0.8986
Epoch 140/200
209/209 [==============================] - 0s 574us/step - loss: 0.1819 - accuracy: 0.9034
Epoch 141/200
209/209 [==============================] - 0s 601us/step - loss: 0.2039 - accuracy: 0.8965
Epoch 142/200
209/209 [==============================] - 0s 609us/step - loss: 0.1801 - accuracy: 0.9004
Epoch 143/200
209/209 [==============================] - 0s 603us/step - loss: 0.1965 - accuracy: 0.8974
Epoch 144/200
209/209 [==============================] - 0s 591us/step - loss: 0.1733 - accuracy: 0.9039
Epoch 145/200
209/209 [==============================] - 0s 615us/step - loss: 0.1835 - accuracy: 0.9057
Epoch 146/200
209/209 [==============================] - 0s 603us/step - loss: 0.2037 - accuracy: 0.8967
Epoch 147/200
209/209 [==============================] - 0s 595us/step - loss: 0.1807 - accuracy: 0.9048
Epoch 148/200
209/209 [==============================] - 0s 591us/step - loss: 0.2237 - accuracy: 0.8913
Epoch 149/200
209/209 [==============================] - 0s 591us/step - loss: 0.2015 - accuracy: 0.9000
Epoch 150/200
209/209 [==============================] - 0s 589us/step - loss: 0.2244 - accuracy: 0.8892
Epoch 151/200
209/209 [==============================] - 0s 537us/step - loss: 0.1823 - accuracy: 0.9042
Epoch 152/200
209/209 [==============================] - 0s 607us/step - loss: 0.2175 - accuracy: 0.8719
Epoch 153/200
209/209 [==============================] - 0s 658us/step - loss: 0.2176 - accuracy: 0.8802
Epoch 154/200
209/209 [==============================] - 0s 632us/step - loss: 0.2076 - accuracy: 0.8865
Epoch 155/200
209/209 [==============================] - 0s 645us/step - loss: 0.1855 - accuracy: 0.9022
Epoch 156/200
209/209 [==============================] - 0s 648us/step - loss: 0.1835 - accuracy: 0.9064
Epoch 157/200
209/209 [==============================] - 0s 622us/step - loss: 0.1668 - accuracy: 0.9139
Epoch 158/200
209/209 [==============================] - 0s 631us/step - loss: 0.1886 - accuracy: 0.9042
Epoch 159/200
209/209 [==============================] - 0s 612us/step - loss: 0.2106 - accuracy: 0.8928
Epoch 160/200
209/209 [==============================] - 0s 654us/step - loss: 0.2475 - accuracy: 0.8908
Epoch 161/200
209/209 [==============================] - 0s 587us/step - loss: 0.1738 - accuracy: 0.9130
Epoch 162/200
209/209 [==============================] - 0s 600us/step - loss: 0.1937 - accuracy: 0.8998
Epoch 163/200
209/209 [==============================] - 0s 606us/step - loss: 0.2202 - accuracy: 0.8905
Epoch 164/200
209/209 [==============================] - 0s 618us/step - loss: 0.1821 - accuracy: 0.9049
Epoch 165/200
209/209 [==============================] - 0s 608us/step - loss: 0.1643 - accuracy: 0.9190
Epoch 166/200
209/209 [==============================] - 0s 582us/step - loss: 0.2116 - accuracy: 0.8971
Epoch 167/200
209/209 [==============================] - 0s 574us/step - loss: 0.1658 - accuracy: 0.9202
Epoch 168/200
209/209 [==============================] - 0s 602us/step - loss: 0.1639 - accuracy: 0.9147
Epoch 169/200
209/209 [==============================] - 0s 658us/step - loss: 0.1791 - accuracy: 0.9085
Epoch 170/200
209/209 [==============================] - 0s 618us/step - loss: 0.1585 - accuracy: 0.9195
Epoch 171/200
209/209 [==============================] - 0s 581us/step - loss: 0.1552 - accuracy: 0.9225
Epoch 172/200
209/209 [==============================] - 0s 609us/step - loss: 0.1483 - accuracy: 0.9198
Epoch 173/200
209/209 [==============================] - 0s 577us/step - loss: 0.1618 - accuracy: 0.9175
Epoch 174/200
209/209 [==============================] - 0s 601us/step - loss: 0.1591 - accuracy: 0.9073
Epoch 175/200
209/209 [==============================] - 0s 600us/step - loss: 0.2042 - accuracy: 0.9105
Epoch 176/200
209/209 [==============================] - 0s 644us/step - loss: 0.1761 - accuracy: 0.9129
Epoch 177/200
209/209 [==============================] - 0s 617us/step - loss: 0.2402 - accuracy: 0.8956
Epoch 178/200
209/209 [==============================] - 0s 600us/step - loss: 0.1678 - accuracy: 0.9049
Epoch 179/200
209/209 [==============================] - 0s 598us/step - loss: 0.1553 - accuracy: 0.9243
Epoch 180/200
209/209 [==============================] - 0s 616us/step - loss: 0.1872 - accuracy: 0.9115
Epoch 181/200
209/209 [==============================] - 0s 568us/step - loss: 0.1898 - accuracy: 0.8961
Epoch 182/200
209/209 [==============================] - 0s 584us/step - loss: 0.2016 - accuracy: 0.8928
Epoch 183/200
209/209 [==============================] - 0s 614us/step - loss: 0.1838 - accuracy: 0.9099
Epoch 184/200
209/209 [==============================] - 0s 620us/step - loss: 0.1215 - accuracy: 0.9396
Epoch 185/200
209/209 [==============================] - 0s 630us/step - loss: 0.1903 - accuracy: 0.9154
Epoch 186/200
209/209 [==============================] - 0s 697us/step - loss: 0.2243 - accuracy: 0.8607
Epoch 187/200
209/209 [==============================] - 0s 638us/step - loss: 0.2218 - accuracy: 0.8871
Epoch 188/200
209/209 [==============================] - 0s 580us/step - loss: 0.1755 - accuracy: 0.9054
Epoch 189/200
209/209 [==============================] - 0s 652us/step - loss: 0.1928 - accuracy: 0.8970
Epoch 190/200
209/209 [==============================] - 0s 651us/step - loss: 0.1856 - accuracy: 0.9060
Epoch 191/200
209/209 [==============================] - 0s 607us/step - loss: 0.1610 - accuracy: 0.9199
Epoch 192/200

In [43]:
predictions = model.predict(np.array(X_test,dtype=np.float64)) > 0.5

In [44]:
accuracy_score(y_test, predictions)

0.9240993354319692

## Wnioski:
Wybraliśmy las losowy ze względu na bardzo szybki trening i bardzo dobre wyniki