In [1]:
import pandas as pd

In [3]:
df_sessions = pd.read_json(path_or_buf='../../data/raw/sessions.jsonl', lines=True)

In [4]:
df_sessions.head()

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id
0,124,2021-07-28 15:47:21,102,1283,VIEW_PRODUCT,5,NaN
1,124,2021-07-28 15:47:40,102,1283,BUY_PRODUCT,5,20001.0
2,125,2021-09-12 16:43:16,102,1076,VIEW_PRODUCT,0,NaN
3,125,2021-09-12 16:46:24,102,1080,VIEW_PRODUCT,0,NaN
4,125,2021-09-12 16:48:08,102,1079,VIEW_PRODUCT,0,NaN

In [5]:
df_sessions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35004 entries, 0 to 35003
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   session_id        35004 non-null  int64
 1   timestamp         35004 non-null  datetime64[ns]
 2   user_id           35004 non-null  int64
 3   product_id        35004 non-null  int64
 4   event_type        35004 non-null  object
 5   offered_discount  35004 non-null  int64
 6   purchase_id       5525 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 1.9+ MB

## Split timestamp