In [1]:
# Adding autoreload will let you edit your package and see the changes without restarting the notebook.

%load_ext autoreload

%autoreload 2

In [2]:
import pandas as pd

In [3]:
df_sessions = pd.read_json(path_or_buf='../data/raw/sessions.jsonl', lines=True)
df_delivers = pd.read_json(path_or_buf='../data/raw/deliveries.jsonl', lines=True)
df_products = pd.read_json(path_or_buf='../data/raw/products.jsonl', lines=True)
df_users = pd.read_json(path_or_buf='../data/raw/users.jsonl', lines=True)

In [4]:
df_sessions.head()

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id
0,124,2021-07-28 15:47:21,102,1283,VIEW_PRODUCT,5,NaN
1,124,2021-07-28 15:47:40,102,1283,BUY_PRODUCT,5,20001.0
2,125,2021-09-12 16:43:16,102,1076,VIEW_PRODUCT,0,NaN
3,125,2021-09-12 16:46:24,102,1080,VIEW_PRODUCT,0,NaN
4,125,2021-09-12 16:48:08,102,1079,VIEW_PRODUCT,0,NaN

In [5]:
df_sessions['event_type'].unique()

array(['VIEW_PRODUCT', 'BUY_PRODUCT'], dtype=object)

In [7]:
df_delivers.describe()

       purchase_id  delivery_company
count   5525.00000       5525.000000
mean   22763.00000        497.007059
std     1595.07445        108.042028
min    20001.00000        360.000000
25%    21382.00000        360.000000
50%    22763.00000        516.000000
75%    24144.00000        620.000000
max    25525.00000        620.000000

In [17]:
df_products.head()

,product_id,product_name,category_path,price
0,1001,Telefon Siemens Gigaset DA310,Telefony i akcesoria;Telefony stacjonarne,58.97
1,1002,Kyocera FS-1135MFP,Komputery;Drukarki i skanery;Biurowe urządzeni...,2048.50
2,1003,Kyocera FS-3640MFP,Komputery;Drukarki i skanery;Biurowe urządzeni...,7639.00
3,1004,Fallout 3 (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,49.99
4,1005,Szalone Króliki Na żywo i w kolorze (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,49.99

In [18]:
df_users.head()

   user_id              name      city                   street
0      102     Aurelia Malon    Poznań  pl. Brzoskwiniowa 11/53
1      103     Mateusz Kobel    Poznań        al. Wrocławska 10
2      104    Radosław Ratka  Szczecin           pl. Nowa 89/04
3      105  Anastazja Oszust  Warszawa     ul. Częstochowska 80
4      106      Sylwia Nurek  Warszawa          al. Wiosenna 72

In [9]:
import qgrid
qgrid_widget_sessions = qgrid.show_grid(df_sessions, show_toolbar=True)
qgrid_widget_delivers = qgrid.show_grid(df_delivers, show_toolbar=True)
qgrid_widget_products = qgrid.show_grid(df_products, show_toolbar=True)
qgrid_widget_users = qgrid.show_grid(df_users, show_toolbar=True)

In [10]:
qgrid_widget_delivers

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [11]:
qgrid_widget_products

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [12]:
qgrid_widget_sessions

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [13]:
qgrid_widget_users

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…