In [1]:
# Adding autoreload will let you edit your package and see the changes without restarting the notebook.

%load_ext autoreload

%autoreload 2

In [2]:
import pandas as pd

In [3]:
sessions_data_json = pd.read_json(path_or_buf='../data/raw/sessions.jsonl', lines=True)
delivers_data_json = pd.read_json(path_or_buf='../data/raw/deliveries.jsonl', lines=True)
products_data_json = pd.read_json(path_or_buf='../data/raw/products.jsonl', lines=True)
users_data_json = pd.read_json(path_or_buf='../data/raw/users.jsonl', lines=True)

df_sessions = pd.DataFrame(sessions_data_json)
df_delivers = pd.DataFrame(delivers_data_json)
df_products = pd.DataFrame(products_data_json)
df_users = pd.DataFrame(users_data_json)

In [4]:
df_sessions

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id
0,124,2021-07-28 15:47:21,102,1283,VIEW_PRODUCT,5,NaN
1,124,2021-07-28 15:47:40,102,1283,BUY_PRODUCT,5,20001.0
2,125,2021-09-12 16:43:16,102,1076,VIEW_PRODUCT,0,NaN
3,125,2021-09-12 16:46:24,102,1080,VIEW_PRODUCT,0,NaN
4,125,2021-09-12 16:48:08,102,1079,VIEW_PRODUCT,0,NaN
...,...,...,...,...,...,...,...
34999,9648,2021-03-07 07:48:53,301,1292,VIEW_PRODUCT,0,NaN
35000,9648,2021-03-07 07:52:54,301,1285,VIEW_PRODUCT,0,NaN
35001,9648,2021-03-07 07:54:47,301,1288,VIEW_PRODUCT,0,NaN
35002,9649,2021-10-12 00:19:45,301,1040,VIEW_PRODUCT,20,NaN
35003,9650,2021-08-19 21:20:58,301,1233,VIEW_PRODUCT,0,NaN

In [5]:
df_delivers

      purchase_id   purchase_timestamp   delivery_timestamp  delivery_company
0           20001  2021-07-28T15:47:40  2021-08-01T15:48:37               620
1           20002  2021-09-12T17:07:12  2021-09-17T17:09:45               516
2           20003  2021-04-09T22:33:05  2021-04-11T22:36:44               516
3           20004  2021-08-15T16:54:45  2021-08-17T16:59:19               620
4           20005  2021-01-05T00:19:45  2021-01-09T00:23:45               360
...           ...                  ...                  ...               ...
5520        25521  2021-10-16T15:26:25  2021-10-19T15:29:23               516
5521        25522  2021-08-20T01:01:15  2021-08-24T01:04:33               620
5522        25523  2021-09-07T10:37:45  2021-09-09T10:38:26               620
5523        25524  2021-08-25T20:41:49  2021-08-30T20:44:45               360
5524        25525  2021-07-06T16:24:39  2021-07-08T16:27:22               516

[5525 rows x 4 columns]

In [6]:
df_products

,product_id,product_name,category_path,price
0,1001,Telefon Siemens Gigaset DA310,Telefony i akcesoria;Telefony stacjonarne,58.97
1,1002,Kyocera FS-1135MFP,Komputery;Drukarki i skanery;Biurowe urządzeni...,2048.50
2,1003,Kyocera FS-3640MFP,Komputery;Drukarki i skanery;Biurowe urządzeni...,7639.00
3,1004,Fallout 3 (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,49.99
4,1005,Szalone Króliki Na żywo i w kolorze (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,49.99
...,...,...,...,...
314,1315,Jabra Talk,Telefony i akcesoria;Akcesoria telefoniczne;Ze...,54.99
315,1316,Plantronics Voyager Legend,Telefony i akcesoria;Akcesoria telefoniczne;Ze...,249.00
316,1317,Plantronics Savi W740,Telefony i akcesoria;Akcesoria telefoniczne;Ze...,1303.96
317,1318,Plantronics Savi W710,Sprzęt RTV;Audio;Słuchawki,553.00
318,1319,HTC HS-S200,Telefony i akcesoria;Akcesoria telefoniczne;Ze...,14.99

In [7]:
df_users

     user_id              name      city                   street
0        102     Aurelia Malon    Poznań  pl. Brzoskwiniowa 11/53
1        103     Mateusz Kobel    Poznań        al. Wrocławska 10
2        104    Radosław Ratka  Szczecin           pl. Nowa 89/04
3        105  Anastazja Oszust  Warszawa     ul. Częstochowska 80
4        106      Sylwia Nurek  Warszawa          al. Wiosenna 72
..       ...               ...       ...                      ...
195      297  Andrzej Kreczmer  Szczecin       ul. Zdrojowa 43/11
196      298     Natan Świadek  Szczecin           pl. Staffa 801
197      299   Jeremi Kajstura    Kraków        pl. Wiklinowa 022
198      300     Gustaw Cofała    Gdynia      ulica Krakowska 847
199      301        Sara Nóżka  Warszawa    aleja Słoneczna 78/05

[200 rows x 4 columns]

In [9]:
import qgrid
qgrid_widget_sessions = qgrid.show_grid(df_sessions, show_toolbar=True)
qgrid_widget_delivers = qgrid.show_grid(df_delivers, show_toolbar=True)
qgrid_widget_products = qgrid.show_grid(df_products, show_toolbar=True)
qgrid_widget_users = qgrid.show_grid(df_users, show_toolbar=True)

In [10]:
qgrid_widget_delivers

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [11]:
qgrid_widget_products

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [12]:
qgrid_widget_sessions

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [13]:
qgrid_widget_users

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…